archive/n8n-workflows/01-scrape-export.json
[{"updatedAt":"2026-01-06T23:12:03.000Z","createdAt":"2026-01-06T22:53:57.752Z","id":"VwBdf7YCRziPAqRn","name":"01-SCRAPE-TRENDS","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"scrape-trends","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,300],"webhookId":"scrape-trends"},{"parameters":{"jsCode":"// Parse incoming niche/platform parameters\nconst body = $input.first().json.body || $input.first().json;\n\n// Defaults\nconst niche = body.niche || 'real estate';\nconst hashtags = body.hashtags || ['realestate', 'realtor', 'homebuying', 'firsttimehomebuyer'];\nconst platforms = body.platforms || ['tiktok', 'instagram'];\nconst timeRange = body.time_range || '24h';\nconst resultsPerPlatform = body.results_per_platform || 20;\n\n// Build search terms from niche\nconst nicheTerms = niche.split(/[,;]+/).map(t => t.trim()).filter(t => t);\n\nreturn [{\n  json: {\n    niche,\n    nicheTerms,\n    hashtags,\n    platforms,\n    timeRange,\n    resultsPerPlatform,\n    scrapeStartedAt: new Date().toISOString()\n  }\n}];"},"id":"parse-params","name":"Parse Parameters","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"tiktok-check","leftValue":"={{ $json.platforms.includes('tiktok') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-tiktok","name":"TikTok?","type":"n8n-nodes-base.if","typeVersion":2,"position":[440,100]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"instagram-check","leftValue":"={{ $json.platforms.includes('instagram') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-instagram","name":"Instagram?","type":"n8n-nodes-base.if","typeVersion":2,"position":[440,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"youtube-check","leftValue":"={{ $json.platforms.includes('youtube') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-youtube","name":"YouTube?","type":"n8n-nodes-base.if","typeVersion":2,"position":[440,500]},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/clockworks~tiktok-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"hashtags\": {{ JSON.stringify($('Parse Parameters').first().json.hashtags) }},\n  \"resultsPerPage\": {{ $('Parse Parameters').first().json.resultsPerPlatform }},\n  \"shouldDownloadVideos\": false,\n  \"shouldDownloadCovers\": false\n}","options":{"timeout":180000}},"id":"apify-tiktok","name":"Apify TikTok","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,100],"credentials":{"httpHeaderAuth":{"id":"apify","name":"apify"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~instagram-reel-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"hashtags\": {{ JSON.stringify($('Parse Parameters').first().json.hashtags) }},\n  \"resultsLimit\": {{ $('Parse Parameters').first().json.resultsPerPlatform }}\n}","options":{"timeout":180000}},"id":"apify-instagram","name":"Apify Instagram Reels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,300],"credentials":{"httpHeaderAuth":{"id":"apify","name":"apify"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/bernardo~youtube-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"searchKeywords\": {{ JSON.stringify($('Parse Parameters').first().json.nicheTerms) }},\n  \"maxResults\": {{ $('Parse Parameters').first().json.resultsPerPlatform }}\n}","options":{"timeout":180000}},"id":"apify-youtube","name":"Apify YouTube","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,500],"credentials":{"httpHeaderAuth":{"id":"apify","name":"apify"}}},{"parameters":{},"id":"skip-tiktok","name":"Skip TikTok","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[700,0]},{"parameters":{},"id":"skip-instagram","name":"Skip Instagram","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[700,200]},{"parameters":{},"id":"skip-youtube","name":"Skip YouTube","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[700,400]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{"includeUnpaired":true}},"id":"merge-results","name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[960,300]},{"parameters":{"jsCode":"// Normalize scraped items from different platforms\nconst items = $input.all();\nconst params = $('Parse Parameters').first().json;\nconst normalized = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data || typeof data !== 'object') continue;\n  \n  // Skip empty arrays or merge placeholders\n  if (Array.isArray(data) && data.length === 0) continue;\n  \n  // TikTok format\n  if (data.webVideoUrl || data.videoUrl) {\n    normalized.push({\n      platform: 'tiktok',\n      url: data.webVideoUrl || data.videoUrl,\n      title: data.text || data.desc || '',\n      views: data.playCount || 0,\n      likes: data.diggCount || 0,\n      comments: data.commentCount || 0,\n      shares: data.shareCount || 0,\n      engagement: (data.diggCount || 0) + (data.commentCount || 0) + (data.shareCount || 0),\n      author: data.authorMeta?.name || data.author || '',\n      created: data.createTime || null,\n      thumbnail: data.covers?.default || data.videoMeta?.coverUrl || ''\n    });\n  }\n  // Instagram Reels format\n  else if (data.url && (data.url.includes('instagram') || data.type === 'Reel')) {\n    normalized.push({\n      platform: 'instagram',\n      url: data.url || data.inputUrl,\n      title: data.caption || data.text || '',\n      views: data.playCount || data.videoPlayCount || 0,\n      likes: data.likesCount || data.likes || 0,\n      comments: data.commentsCount || data.comments || 0,\n      shares: 0,\n      engagement: (data.likesCount || data.likes || 0) + (data.commentsCount || data.comments || 0),\n      author: data.ownerUsername || data.author || '',\n      created: data.timestamp || null,\n      thumbnail: data.displayUrl || data.thumbnail || ''\n    });\n  }\n  // YouTube format\n  else if (data.url && data.url.includes('youtube')) {\n    normalized.push({\n      platform: 'youtube',\n      url: data.url,\n      title: data.title || '',\n      views: data.viewCount || 0,\n      likes: data.likes || 0,\n      comments: data.comments || 0,\n      shares: 0,\n      engagement: (data.likes || 0) + (data.comments || 0),\n      author: data.channelName || data.author || '',\n      created: data.uploadDate || null,\n      thumbnail: data.thumbnailUrl || ''\n    });\n  }\n}\n\n// Sort by engagement (highest first)\nnormalized.sort((a, b) => b.engagement - a.engagement);\n\n// Add metadata\nconst output = {\n  niche: params.niche,\n  platforms: params.platforms,\n  scrapedAt: params.scrapeStartedAt,\n  totalResults: normalized.length,\n  results: normalized\n};\n\nreturn [{ json: output }];"},"id":"normalize-data","name":"Normalize Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,300]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"HTTP-Referer","value":"http://100.83.153.43:5678"},{"name":"X-Title","value":"n8n-trend-analyzer"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"x-ai/grok-4-1106\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You analyze trending social media content to find viral video ideas for a content creator.\\n\\nTarget niche: {{ $json.niche }}\\n\\nFor each piece of content, determine:\\n1. viral_score (1-10): How viral/engaging is this content?\\n2. pillar: One of: market_intelligence, educational_tips, lifestyle_local, brand_humanization\\n3. suggested_hook: A compelling hook to recreate this content\\n4. why_viral: Brief explanation of what makes it work\\n5. adaptable: true/false - Can this be adapted for the target niche?\\n\\nPILLAR DEFINITIONS:\\n- market_intelligence: Data, trends, market analysis, pricing, investment\\n- educational_tips: How-tos, tutorials, tips, process explanations\\n- lifestyle_local: Community, local events, lifestyle content\\n- brand_humanization: Personal stories, behind-the-scenes, relatable moments\\n\\nReturn JSON: { \\\"analyzed\\\": [{ \\\"url\\\", \\\"platform\\\", \\\"title\\\", \\\"views\\\", \\\"likes\\\", \\\"viral_score\\\", \\\"pillar\\\", \\\"suggested_hook\\\", \\\"why_viral\\\", \\\"adaptable\\\" }] }\\n\\nOnly include items with viral_score >= 6. Sort by viral_score descending.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze these {{ $json.totalResults }} trending items and identify the best content ideas:\\n\\n{{ JSON.stringify($json.results.slice(0, 30)) }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" }\n}","options":{"timeout":90000}},"id":"analyze-grok","name":"Analyze with Grok","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,300],"credentials":{"httpHeaderAuth":{"id":"openrouter","name":"openrouter"}}},{"parameters":{"jsCode":"// Parse LLM response and format for API/UI\nconst response = $input.first().json;\nconst normalizedData = $('Normalize Data').first().json;\n\ntry {\n  const content = response.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  const items = parsed.analyzed || parsed.items || [];\n  \n  // Filter for viral_score >= 6 and adaptable = true\n  const filtered = items.filter(item => \n    item.viral_score >= 6 && item.adaptable !== false\n  );\n  \n  return [{\n    json: {\n      success: true,\n      niche: normalizedData.niche,\n      scrapedAt: normalizedData.scrapedAt,\n      totalScraped: normalizedData.totalResults,\n      analyzedCount: filtered.length,\n      trends: filtered\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      niche: normalizedData.niche,\n      scrapedAt: normalizedData.scrapedAt,\n      totalScraped: normalizedData.totalResults,\n      analyzedCount: 0,\n      trends: []\n    }\n  }];\n}"},"id":"format-response","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1620,300]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"respond-webhook","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1840,300]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Parse Parameters","type":"main","index":0}]]},"Parse Parameters":{"main":[[{"node":"TikTok?","type":"main","index":0},{"node":"Instagram?","type":"main","index":0},{"node":"YouTube?","type":"main","index":0}]]},"TikTok?":{"main":[[{"node":"Apify TikTok","type":"main","index":0}],[{"node":"Skip TikTok","type":"main","index":0}]]},"Instagram?":{"main":[[{"node":"Apify Instagram Reels","type":"main","index":0}],[{"node":"Skip Instagram","type":"main","index":0}]]},"YouTube?":{"main":[[{"node":"Apify YouTube","type":"main","index":0}],[{"node":"Skip YouTube","type":"main","index":0}]]},"Apify TikTok":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Apify Instagram Reels":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Apify YouTube":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip TikTok":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip Instagram":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip YouTube":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Merge Results":{"main":[[{"node":"Normalize Data","type":"main","index":0}]]},"Normalize Data":{"main":[[{"node":"Analyze with Grok","type":"main","index":0}]]},"Analyze with Grok":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"21d23de1-9bcc-42b3-b45a-68250e28fb49","activeVersionId":null,"versionCounter":2,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-06T22:53:57.754Z","createdAt":"2026-01-06T22:53:57.754Z","role":"workflow:owner","workflowId":"VwBdf7YCRziPAqRn","projectId":"JXKI1dIRZQnaO3id","project":{"updatedAt":"2026-01-06T18:48:29.878Z","createdAt":"2026-01-06T18:44:35.254Z","id":"JXKI1dIRZQnaO3id","name":"Dev Author <developer@example.com>","type":"personal","icon":null,"description":null,"creatorId":"f8ced65c-55f8-44f8-8ea0-c4652900118f"}}]}]