archive/n8n-workflows/03-script-gen.json
{
  "name": "03-SCRIPT-GEN",
  "nodes": [
    {
      "parameters": {},
      "id": "start-trigger",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:8000/api/content-ideas/{{ $json.content_idea_id }}",
        "options": {}
      },
      "id": "get-content-idea",
      "name": "Get Content Idea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "http://100.83.153.43:5678"
            },
            {
              "name": "X-Title",
              "value": "n8n-script-generator"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"x-ai/grok-4-1106\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a viral video scriptwriter for a real estate agent. Create engaging, authentic scripts optimized for short-form video (30-60 seconds).\\n\\nGUIDELINES:\\n- Start with a hook that stops scrollers in the first 3 seconds\\n- Use conversational, energetic tone\\n- Include ONE clear call-to-action\\n- Add natural pauses marked with [PAUSE]\\n- Mark emphasis with *asterisks*\\n- Keep sentences short and punchy\\n- Total length: 150-250 words\\n\\nPILLAR TONES:\\n- market_intelligence: Data-driven, authoritative, slightly urgent\\n- educational_tips: Helpful, encouraging, clear steps\\n- lifestyle_local: Warm, community-focused, storytelling\\n- brand_humanization: Personal, relatable, authentic\\n\\nRETURN JSON:\\n{\\n  \\\"hook\\\": \\\"First 3 seconds text\\\",\\n  \\\"script\\\": \\\"Full script with [PAUSE] and *emphasis* markers\\\",\\n  \\\"cta\\\": \\\"Call to action text\\\",\\n  \\\"estimated_duration_seconds\\\": 45,\\n  \\\"suggested_broll\\\": [\\\"scene description 1\\\", \\\"scene description 2\\\"]\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a script based on this content idea:\\n\\nPillar: {{ $json.pillar }}\\nSuggested Hook: {{ $json.suggested_hook }}\\nOriginal Content: {{ $json.original_text.substring(0, 1500) }}\\nSource: {{ $json.source_platform }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "generate-script",
      "name": "Generate Script with Grok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openrouter",
          "name": "openrouter"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the LLM response and extract script data\nconst response = $input.first().json;\nconst contentIdea = $('Get Content Idea').first().json;\n\ntry {\n  const content = response.choices[0].message.content;\n  const scriptData = JSON.parse(content);\n  \n  return [{\n    json: {\n      content_idea_id: contentIdea.id,\n      hook: scriptData.hook,\n      script: scriptData.script,\n      cta: scriptData.cta,\n      estimated_duration_seconds: scriptData.estimated_duration_seconds || 45,\n      suggested_broll: scriptData.suggested_broll || [],\n      pillar: contentIdea.pillar,\n      source_platform: contentIdea.source_platform\n    }\n  }];\n} catch (error) {\n  throw new Error(`Failed to parse script response: ${error.message}`);\n}"
      },
      "id": "parse-script",
      "name": "Parse Script Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/scripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content_idea_id\": {{ $json.content_idea_id }},\n  \"hook\": \"{{ $json.hook.replace(/\"/g, '\\\\\"') }}\",\n  \"full_script\": \"{{ $json.script.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n  \"cta\": \"{{ $json.cta.replace(/\"/g, '\\\\\"') }}\",\n  \"estimated_duration\": {{ $json.estimated_duration_seconds }},\n  \"suggested_broll\": {{ JSON.stringify($json.suggested_broll) }}\n}",
        "options": {}
      },
      "id": "save-script",
      "name": "Save Script to DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://backend:8000/api/content-ideas/{{ $json.content_idea_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"script_complete\",\n  \"script_id\": {{ $json.id }}\n}",
        "options": {}
      },
      "id": "update-idea-status",
      "name": "Update Idea Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for next workflow (04-GET-VIDEO)\nconst script = $('Save Script to DB').first().json;\nconst parsed = $('Parse Script Response').first().json;\n\nreturn [{\n  json: {\n    script_id: script.id,\n    content_idea_id: parsed.content_idea_id,\n    suggested_broll: parsed.suggested_broll,\n    estimated_duration: parsed.estimated_duration_seconds,\n    pillar: parsed.pillar\n  }\n}];"
      },
      "id": "prepare-output",
      "name": "Prepare for Video Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "options": {}
      },
      "id": "execute-get-video",
      "name": "Execute 04-GET-VIDEO",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1750, 300]
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [{ "node": "Get Content Idea", "type": "main", "index": 0 }]
      ]
    },
    "Get Content Idea": {
      "main": [
        [{ "node": "Generate Script with Grok", "type": "main", "index": 0 }]
      ]
    },
    "Generate Script with Grok": {
      "main": [
        [{ "node": "Parse Script Response", "type": "main", "index": 0 }]
      ]
    },
    "Parse Script Response": {
      "main": [
        [{ "node": "Save Script to DB", "type": "main", "index": 0 }]
      ]
    },
    "Save Script to DB": {
      "main": [
        [{ "node": "Update Idea Status", "type": "main", "index": 0 }]
      ]
    },
    "Update Idea Status": {
      "main": [
        [{ "node": "Prepare for Video Search", "type": "main", "index": 0 }]
      ]
    },
    "Prepare for Video Search": {
      "main": [
        [{ "node": "Execute 04-GET-VIDEO", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-06T00:00:00.000Z",
  "versionId": "1"
}
