archive/n8n-workflows/debug_list_2.json
[{"updatedAt":"2026-01-07T01:27:04.019Z","createdAt":"2026-01-07T01:12:12.438Z","id":"x9Z6SpQn1IiDvLNY","name":"AI ContentGenerator copy","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## 1. SCRAPE\nDiscover trending content from TikTok, Instagram, YouTube","width":280,"color":7},"id":"dd631517-b8d8-4833-be6a-9d4331581bb4","name":"Scrape Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,-96]},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"a574f3b5-06e2-4926-ae3a-7f8ae1854ca4","name":"Daily 6am Scrape","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1568,64]},{"parameters":{"httpMethod":"POST","path":"9bce9b57-4b56-4f54-8caa-649585f96fab","responseMode":"responseNode","options":{}},"id":"6cbc3aca-7211-4082-b2da-73698fdc9934","name":"Scrape Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1568,240],"webhookId":"9bce9b57-4b56-4f54-8caa-649585f96fab"},{"parameters":{"jsCode":"// Parse incoming niche/platform parameters\nconst body = $input.first().json.body || $input.first().json;\n\n// Defaults\nconst niche = body.niche || 'real estate';\nconst hashtags = body.hashtags || ['realestate', 'realtor', 'homebuying', 'firsttimehomebuyer'];\nconst platforms = body.platforms || ['tiktok', 'instagram'];\nconst timeRange = body.time_range || '24h';\nconst resultsPerPlatform = body.results_per_platform || 20;\n\n// Build search terms from niche\nconst nicheTerms = niche.split(/[,;]+/).map(t => t.trim()).filter(t => t);\n\nreturn [{\n  json: {\n    niche,\n    nicheTerms,\n    hashtags,\n    platforms,\n    timeRange,\n    resultsPerPlatform,\n    scrapeStartedAt: new Date().toISOString()\n  }\n}];"},"id":"5d3f613b-3bb6-4d50-b5c4-73f362579b9a","name":"Parse Scrape Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"tiktok-check","leftValue":"={{ $json.platforms.includes('tiktok') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"10a5a61e-9da2-4319-ad60-ffd78f053cb1","name":"TikTok?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,-48]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"instagram-check","leftValue":"={{ $json.platforms.includes('instagram') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"566f940b-b3e0-4d68-80e2-b53c71a095c0","name":"Instagram?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"youtube-check","leftValue":"={{ $json.platforms.includes('youtube') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c115afea-d8a0-4863-8c3e-0355c82f589f","name":"YouTube?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,368]},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/clockworks~tiktok-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"hashtags\": {{ JSON.stringify($('Parse Scrape Params').first().json.hashtags) }},\n  \"resultsPerPage\": {{ $('Parse Scrape Params').first().json.resultsPerPlatform }},\n  \"shouldDownloadVideos\": false,\n  \"shouldDownloadCovers\": false\n}","options":{"timeout":180000}},"id":"343bbe0d-cf82-4b66-ae76-45f9d2b2162e","name":"Apify TikTok","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-864,-48],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~instagram-reel-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"hashtags\": {{ JSON.stringify($('Parse Scrape Params').first().json.hashtags) }},\n  \"resultsLimit\": {{ $('Parse Scrape Params').first().json.resultsPerPlatform }}\n}","options":{"timeout":180000}},"id":"42d473f0-9a2e-4cd9-9193-8f65d006f322","name":"Apify Instagram Reels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-864,160],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/bernardo~youtube-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"searchKeywords\": {{ JSON.stringify($('Parse Scrape Params').first().json.nicheTerms) }},\n  \"maxResults\": {{ $('Parse Scrape Params').first().json.resultsPerPlatform }}\n}","options":{"timeout":180000}},"id":"ae8aae73-2c23-4226-99fc-e91a44e00775","name":"Apify YouTube","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-864,368],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{},"id":"3432190b-2df4-49e1-beac-2dc29909ea66","name":"Skip TikTok","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,-144]},{"parameters":{},"id":"09ead5dd-2bfd-453b-bb48-12778ead2319","name":"Skip Instagram","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,64]},{"parameters":{},"id":"245d6ab4-caa5-4450-8ac7-dbb46b23e8a9","name":"Skip YouTube","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-864,272]},{"parameters":{"mode":"combine","options":{}},"id":"5a759e7f-de24-403b-bc50-370732690e84","name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-608,160]},{"parameters":{"jsCode":"// Normalize scraped items from different platforms\nconst items = $input.all();\nconst params = $('Parse Scrape Params').first().json;\nconst normalized = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data || typeof data !== 'object') continue;\n  \n  // Skip empty arrays or merge placeholders\n  if (Array.isArray(data) && data.length === 0) continue;\n  \n  // TikTok format\n  if (data.webVideoUrl || data.videoUrl) {\n    normalized.push({\n      platform: 'tiktok',\n      url: data.webVideoUrl || data.videoUrl,\n      title: data.text || data.desc || '',\n      views: data.playCount || 0,\n      likes: data.diggCount || 0,\n      comments: data.commentCount || 0,\n      shares: data.shareCount || 0,\n      engagement: (data.diggCount || 0) + (data.commentCount || 0) + (data.shareCount || 0),\n      author: data.authorMeta?.name || data.author || '',\n      created: data.createTime || null,\n      thumbnail: data.covers?.default || data.videoMeta?.coverUrl || ''\n    });\n  }\n  // Instagram Reels format\n  else if (data.url && (data.url.includes('instagram') || data.type === 'Reel')) {\n    normalized.push({\n      platform: 'instagram',\n      url: data.url || data.inputUrl,\n      title: data.caption || data.text || '',\n      views: data.playCount || data.videoPlayCount || 0,\n      likes: data.likesCount || data.likes || 0,\n      comments: data.commentsCount || data.comments || 0,\n      shares: 0,\n      engagement: (data.likesCount || data.likes || 0) + (data.commentsCount || data.comments || 0),\n      author: data.ownerUsername || data.author || '',\n      created: data.timestamp || null,\n      thumbnail: data.displayUrl || data.thumbnail || ''\n    });\n  }\n  // YouTube format\n  else if (data.url && data.url.includes('youtube')) {\n    normalized.push({\n      platform: 'youtube',\n      url: data.url,\n      title: data.title || '',\n      views: data.viewCount || 0,\n      likes: data.likes || 0,\n      comments: data.comments || 0,\n      shares: 0,\n      engagement: (data.likes || 0) + (data.comments || 0),\n      author: data.channelName || data.author || '',\n      created: data.uploadDate || null,\n      thumbnail: data.thumbnailUrl || ''\n    });\n  }\n}\n\n// Sort by engagement (highest first)\nnormalized.sort((a, b) => b.engagement - a.engagement);\n\n// Add metadata\nconst output = {\n  niche: params.niche,\n  platforms: params.platforms,\n  scrapedAt: params.scrapeStartedAt,\n  totalResults: normalized.length,\n  results: normalized\n};\n\nreturn [{ json: output }];"},"id":"698d771d-14d3-4c2d-98d8-b124bc61f015","name":"Normalize Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,160]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"HTTP-Referer","value":"http://100.83.153.43:5678"},{"name":"X-Title","value":"n8n-trend-analyzer"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"x-ai/grok-4-1106\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You analyze trending social media content to find viral video ideas for a content creator.\\n\\nTarget niche: {{ $json.niche }}\\n\\nFor each piece of content, determine:\\n1. viral_score (1-10): How viral/engaging is this content?\\n2. pillar: One of: market_intelligence, educational_tips, lifestyle_local, brand_humanization\\n3. suggested_hook: A compelling hook to recreate this content\\n4. why_viral: Brief explanation of what makes it work\\n5. adaptable: true/false - Can this be adapted for the target niche?\\n\\nPILLAR DEFINITIONS:\\n- market_intelligence: Data, trends, market analysis, pricing, investment\\n- educational_tips: How-tos, tutorials, tips, process explanations\\n- lifestyle_local: Community, local events, lifestyle content\\n- brand_humanization: Personal stories, behind-the-scenes, relatable moments\\n\\nReturn JSON: { \\\"analyzed\\\": [{ \\\"url\\\", \\\"platform\\\", \\\"title\\\", \\\"views\\\", \\\"likes\\\", \\\"viral_score\\\", \\\"pillar\\\", \\\"suggested_hook\\\", \\\"why_viral\\\", \\\"adaptable\\\" }] }\\n\\nOnly include items with viral_score >= 6. Sort by viral_score descending.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze these {{ $json.totalResults }} trending items and identify the best content ideas:\\n\\n{{ JSON.stringify($json.results.slice(0, 30)) }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" }\n}","options":{"timeout":90000}},"id":"fca1f4e3-d074-4542-b555-18808dc69e7d","name":"Analyze with Grok","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,160],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"jsCode":"// Parse LLM response and format for API/UI\nconst response = $input.first().json;\nconst normalizedData = $('Normalize Data').first().json;\n\ntry {\n  const content = response.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  const items = parsed.analyzed || parsed.items || [];\n  \n  // Filter for viral_score >= 6 and adaptable = true\n  const filtered = items.filter(item => \n    item.viral_score >= 6 && item.adaptable !== false\n  );\n  \n  return [{\n    json: {\n      success: true,\n      niche: normalizedData.niche,\n      scrapedAt: normalizedData.scrapedAt,\n      totalScraped: normalizedData.totalResults,\n      analyzedCount: filtered.length,\n      trends: filtered\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      niche: normalizedData.niche,\n      scrapedAt: normalizedData.scrapedAt,\n      totalScraped: normalizedData.totalResults,\n      analyzedCount: 0,\n      trends: []\n    }\n  }];\n}"},"id":"d4205325-3b6e-4c12-8330-5b269c9ed0a2","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,160]},{"parameters":{"jsCode":"// Split trends into individual items for saving\nconst data = $input.first().json;\nif (!data.success || !data.trends || data.trends.length === 0) {\n  return [{ json: { ...data, savedCount: 0 } }];\n}\n\n// Return each trend as a separate item\nreturn data.trends.map(trend => ({\n  json: {\n    ...trend,\n    niche: data.niche,\n    scrapedAt: data.scrapedAt\n  }\n}));"},"id":"9f2c4fc3-1d79-4a87-a4ff-ae9fc5ab444e","name":"Split Trends","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,160]},{"parameters":{"method":"POST","url":"http://backend:8000/api/content-ideas","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source_url\": {{ JSON.stringify($json.url || '') }},\n  \"source_platform\": {{ JSON.stringify($json.platform || 'unknown') }},\n  \"original_text\": {{ JSON.stringify($json.title || '') }},\n  \"pillar\": {{ JSON.stringify($json.pillar || 'educational_tips') }},\n  \"viral_score\": {{ $json.viral_score || 7 }},\n  \"suggested_hook\": {{ JSON.stringify($json.suggested_hook || '') }},\n  \"why_viral\": {{ JSON.stringify($json.why_viral || '') }},\n  \"status\": \"pending\"\n}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":100}}}},"id":"51f3806f-dc8a-4b8f-a2ec-a667b84eb6d2","name":"Save Content Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,160]},{"parameters":{"jsCode":"// Aggregate saved ideas and prepare response\nconst items = $input.all();\nconst formatData = $('Format Response').first().json;\nconst savedCount = items.filter(i => i.json.id).length;\n\nreturn [{\n  json: {\n    success: true,\n    niche: formatData.niche,\n    scrapedAt: formatData.scrapedAt,\n    totalScraped: formatData.totalScraped,\n    analyzedCount: formatData.analyzedCount,\n    savedCount: savedCount,\n    message: `Saved ${savedCount} content ideas to database`\n  }\n}];"},"id":"cce9fc55-1fdd-492e-9067-99c887b035a5","name":"Aggregate Saved","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,160]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"dbf853ec-102c-48ef-9aa6-4ffe0a6cadf6","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[944,160]},{"parameters":{"content":"## 2. Auto Trigger\nSchedule (15min) + Webhook to start pipeline","height":140,"width":180,"color":4},"id":"39a23acc-6b88-47a1-a0dd-78a00be3724c","name":"Auto Trigger","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[944,48]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"49fd89c7-271c-446f-a83b-e47e6f8b6bc0","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1008,208]},{"parameters":{"httpMethod":"POST","path":"6f8a5bd0-7c27-4eeb-b190-b2bc238da38b","responseMode":"responseNode","options":{}},"id":"8e2f7ec1-69a7-4099-8c7d-f5d907d2c040","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[64,384],"webhookId":"6f8a5bd0-7c27-4eeb-b190-b2bc238da38b"},{"parameters":{"url":"http://backend:8000/api/content-ideas?status=approved&limit=1","options":{}},"id":"061c6a2a-1570-42de-b115-22a30f6227ba","name":"Get Approved Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-specific-id","leftValue":"={{ $json.body?.content_idea_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"06d222bd-b8c8-413f-b4fc-d4d7c3cb37fe","name":"Specific ID?","type":"n8n-nodes-base.if","typeVersion":2,"position":[288,384]},{"parameters":{"url":"=http://backend:8000/api/content-ideas/{{ $json.body.content_idea_id }}","options":{}},"id":"ed2b47a7-17d1-4be1-b711-baefc4a103fc","name":"Get Specific Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,384]},{"parameters":{"mode":"combine","options":{}},"id":"8085c0ef-1f90-4cce-be5b-7e2591b6f70b","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[720,208]},{"parameters":{"jsCode":"// Normalize and validate content idea\nconst items = $input.all();\nlet idea = null;\n\nfor (const item of items) {\n  const data = item.json;\n  if (Array.isArray(data) && data.length > 0) {\n    idea = data[0];\n    break;\n  } else if (data && data.id) {\n    idea = data;\n    break;\n  }\n}\n\nif (!idea || !idea.id) {\n  return [{ json: { hasContent: false, message: 'No approved content found' } }];\n}\n\nreturn [{\n  json: {\n    hasContent: true,\n    content_idea_id: idea.id,\n    original_text: idea.original_text,\n    pillar: idea.pillar,\n    suggested_hook: idea.suggested_hook,\n    source_platform: idea.source_platform,\n    source_url: idea.source_url\n  }\n}];"},"id":"0968d6bd-6f90-411c-abb4-f2b7704627f4","name":"Normalize Idea","type":"n8n-nodes-base.code","typeVersion":2,"position":[944,208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-content","leftValue":"={{ $json.hasContent }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"3196bab9-e530-410e-aed2-5f59a56a88f1","name":"Has Content?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1168,208]},{"parameters":{},"id":"f565c55b-8cca-4a24-a351-a85e9b32227e","name":"No Content","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1392,384]},{"parameters":{"content":"## Script Generation\nGrok 4.1 creates viral script","height":140,"width":180,"color":5},"id":"662eb751-c1cf-4431-b3f6-ec997d8658f2","name":"Script Gen","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,528]},{"parameters":{"method":"PATCH","url":"=http://backend:8000/api/content-ideas/{{ $json.content_idea_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status\": \"script_generating\"\n}","options":{}},"id":"efd69664-d161-4fb0-8702-4caac4f396c7","name":"Update Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,688]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"HTTP-Referer","value":"http://100.83.153.43:5678"},{"name":"X-Title","value":"n8n-video-pipeline"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"x-ai/grok-4-1106\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a viral video scriptwriter for a real estate agent. Create engaging, authentic scripts optimized for short-form video (30-60 seconds).\\n\\nGUIDELINES:\\n- Start with a hook that stops scrollers in the first 3 seconds\\n- Use conversational, energetic tone\\n- Include ONE clear call-to-action\\n- Add natural pauses marked with [PAUSE]\\n- Mark emphasis with *asterisks*\\n- Keep sentences short and punchy\\n- Total length: 150-250 words\\n\\nPILLAR TONES:\\n- market_intelligence: Data-driven, authoritative, slightly urgent\\n- educational_tips: Helpful, encouraging, clear steps\\n- lifestyle_local: Warm, community-focused, storytelling\\n- brand_humanization: Personal, relatable, authentic\\n\\nRETURN JSON:\\n{\\n  \\\"hook\\\": \\\"First 3 seconds text\\\",\\n  \\\"script\\\": \\\"Full script with [PAUSE] and *emphasis* markers\\\",\\n  \\\"cta\\\": \\\"Call to action text\\\",\\n  \\\"estimated_duration_seconds\\\": 45,\\n  \\\"suggested_broll\\\": [\\\"scene description 1\\\", \\\"scene description 2\\\", \\\"scene description 3\\\"]\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a script based on this content idea:\\n\\nPillar: {{ $json.pillar }}\\nSuggested Hook: {{ $json.suggested_hook }}\\nOriginal Content: {{ $json.original_text.substring(0, 1500) }}\\nSource: {{ $json.source_platform }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}","options":{"timeout":60000}},"id":"cc1743bb-66a3-46f6-a307-e5f3e4a2c99e","name":"Generate Script (Grok)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,688],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"jsCode":"// Parse script from LLM response\nconst response = $input.first().json;\nconst prevData = $('Update Status').first().json;\n\ntry {\n  const content = response.choices[0].message.content;\n  const scriptData = JSON.parse(content);\n  \n  return [{\n    json: {\n      content_idea_id: prevData.id || $('Normalize Idea').first().json.content_idea_id,\n      hook: scriptData.hook,\n      script: scriptData.script,\n      cta: scriptData.cta,\n      estimated_duration: scriptData.estimated_duration_seconds || 45,\n      suggested_broll: scriptData.suggested_broll || [],\n      pillar: $('Normalize Idea').first().json.pillar\n    }\n  }];\n} catch (error) {\n  throw new Error(`Failed to parse script: ${error.message}`);\n}"},"id":"3ff706fc-2d80-4e6f-a064-c11572be445b","name":"Parse Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,688]},{"parameters":{"method":"POST","url":"http://backend:8000/api/scripts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content_idea_id\": {{ $json.content_idea_id }},\n  \"hook\": {{ JSON.stringify($json.hook) }},\n  \"body\": {{ JSON.stringify($json.script || '') }},\n  \"cta\": {{ JSON.stringify($json.cta) }},\n  \"full_script\": {{ JSON.stringify($json.hook + ' ' + $json.script + ' ' + $json.cta) }},\n  \"duration_estimate\": {{ $json.estimated_duration || 45 }},\n  \"status\": \"script_ready\"\n}","options":{}},"id":"2d06f59e-010e-4e2d-88ec-59555714a419","name":"Save Script","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,688]},{"parameters":{"method":"POST","url":"http://backend:8000/api/assets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"script_id\": {{ $json.id }},\n  \"status\": \"pending\"\n}","options":{}},"id":"df4bf235-4869-40b1-8e95-4a9596827c54","name":"Create Asset Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,688]},{"parameters":{"content":"## Get Video\nPexels B-roll search & download","height":140,"width":180,"color":6},"id":"c0d9376f-ae73-4503-aa53-44dfb86b4a10","name":"Get Video","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,880]},{"parameters":{"jsCode":"// Prepare B-roll search queries\nconst asset = $input.first().json;\nconst parseData = $('Parse Script').first().json;\nconst script = $('Save Script').first().json;\nconst suggestedBroll = parseData.suggested_broll || [];\n\n// Default searches if none provided\nconst defaultSearches = {\n  market_intelligence: ['real estate market', 'house exterior', 'city skyline aerial'],\n  educational_tips: ['home inspection', 'signing contract documents', 'house tour interior'],\n  lifestyle_local: ['neighborhood street', 'local coffee shop', 'park families'],\n  brand_humanization: ['business professional', 'handshake meeting', 'modern office']\n};\n\nconst pillar = parseData.pillar || 'educational_tips';\nconst searches = suggestedBroll.length > 0 ? suggestedBroll : defaultSearches[pillar];\n\nreturn searches.slice(0, 3).map((query, index) => ({\n  json: {\n    asset_id: asset.id,\n    script_id: script.id,\n    content_idea_id: parseData.content_idea_id,\n    scene_index: index,\n    search_query: query\n  }\n}));"},"id":"1d3cea8f-0d2b-4e18-8c9f-b2eecea2821f","name":"Prepare B-Roll Searches","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,1040]},{"parameters":{"url":"=https://api.pexels.com/videos/search?query={{ encodeURIComponent($json.search_query) }}&per_page=3&orientation=portrait","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":30000}},"id":"14ebc271-6e34-4163-995f-f3b0297a787b","name":"Search Pexels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,1040],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"jsCode":"// Select best video from Pexels results\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const videos = item.json.videos || [];\n  const prevItem = $('Prepare B-Roll Searches').all().find(\n    p => p.json.scene_index === item.json.scene_index\n  ) || $('Prepare B-Roll Searches').first();\n  \n  if (videos.length === 0) {\n    results.push({\n      json: {\n        asset_id: prevItem.json.asset_id,\n        script_id: prevItem.json.script_id,\n        content_idea_id: prevItem.json.content_idea_id,\n        scene_index: prevItem.json.scene_index,\n        video_found: false\n      }\n    });\n    continue;\n  }\n  \n  const video = videos[0];\n  const videoFiles = video.video_files || [];\n  const selectedFile = videoFiles.find(f => f.quality === 'hd') || videoFiles[0];\n  \n  results.push({\n    json: {\n      asset_id: prevItem.json.asset_id,\n      script_id: prevItem.json.script_id,\n      content_idea_id: prevItem.json.content_idea_id,\n      scene_index: prevItem.json.scene_index,\n      video_found: true,\n      pexels_id: video.id,\n      video_url: selectedFile?.link,\n      duration: video.duration\n    }\n  });\n}\n\nreturn results;"},"id":"fe82e50c-e718-4f49-b5f9-4810065013b8","name":"Select Videos","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,1040]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"video-found-check","leftValue":"={{ $json.video_found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ed298930-2eae-48d3-8e73-3582f47a4819","name":"Video Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,1040]},{"parameters":{"url":"={{ $json.video_url }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":120000}},"id":"02b66860-c5ac-4b7a-aa0b-3b50fa6d55e0","name":"Download B-Roll","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,1040]},{"parameters":{},"id":"e76b9b48-77cd-4eba-8fa1-2ce6e2fdbb24","name":"Skip B-Roll","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[944,1152]},{"parameters":{"operation":"write","fileName":"=/home/node/assets/videos/{{ $('Select Videos').first().json.script_id }}_scene{{ $('Select Videos').first().json.scene_index }}.mp4","options":{}},"id":"2cfab353-ace1-4556-ae91-f19120b5f5a4","name":"Save B-Roll","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1168,1040]},{"parameters":{"mode":"combine","options":{}},"id":"89e663d6-2570-42de-bc74-f02adcfbf03c","name":"Merge B-Roll","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1392,1088]},{"parameters":{"content":"## Create Voice\nElevenLabs TTS + duration check","height":140,"width":180,"color":7},"id":"e46da9fe-f38d-40d9-b122-806adeec9f27","name":"Create Voice","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1248]},{"parameters":{"jsCode":"// Aggregate B-roll results and prepare for voice generation\nconst items = $input.all();\nconst firstItem = $('Select Videos').first().json;\n\n// Get script and asset data\nconst scriptData = $('Save Script').first().json;\nconst assetData = $('Create Asset Record').first().json;\nconst parseData = $('Parse Script').first().json;\n\n// Clean script for TTS\nlet text = parseData.script || '';\ntext = text.replace(/\\[PAUSE\\]/gi, '...');\ntext = text.replace(/\\*(.*?)\\*/g, '$1');\ntext = text.replace(/\\s+/g, ' ').trim();\n\nif (parseData.cta) {\n  text = text + ' ... ' + parseData.cta;\n}\n\nreturn [{\n  json: {\n    asset_id: assetData.id,\n    script_id: scriptData.id,\n    content_idea_id: parseData.content_idea_id,\n    text_for_tts: text,\n    broll_paths: items.filter(i => i.json.fileName).map((i, idx) => \n      `/home/node/assets/videos/${scriptData.id}_scene${idx}.mp4`\n    )\n  }\n}];"},"id":"0db43a55-96c0-4e82-a3c7-a1f942f78bbc","name":"Prepare TTS Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,1408]},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/{{ $env.ELEVENLABS_VOICE_ID || '21m00Tcm4TlvDq8ikWAM' }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"audio/mpeg"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": {{ JSON.stringify($json.text_for_tts) }},\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75,\n    \"style\": 0.5,\n    \"use_speaker_boost\": true\n  }\n}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":120000}},"id":"c717f642-0763-4279-9883-96c9809b3d79","name":"Generate Voice (ElevenLabs)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,1408],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"operation":"write","fileName":"=/home/node/assets/audio/{{ $('Prepare TTS Text').first().json.script_id }}_voice.mp3","options":{}},"id":"63bef130-f473-4051-906c-53a6da150977","name":"Save Voice","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[512,1408]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst ttsData = $('Prepare TTS Text').first().json;\nconst audioPath = `/home/node/assets/audio/${ttsData.script_id}_voice.mp3`;\n\ntry {\n  const result = execSync(`ffprobe -v quiet -show_entries format=duration -of csv=p=0 \"${audioPath}\"`, { encoding: 'utf-8' });\n  return [{ json: { stdout: result.trim(), success: true } }];\n} catch (error) {\n  return [{ json: { stdout: '45', success: false, error: error.message } }];\n}"},"id":"6b69d9eb-0d10-4b62-9153-df9d62756fce","name":"Get Duration","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,1408]},{"parameters":{"content":"## Create Avatar\nHeyGen lip-sync video generation","height":140,"width":180,"color":3},"id":"a43df957-84c2-4c8e-a487-5c1fee11cccf","name":"Create Avatar","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1600]},{"parameters":{"jsCode":"// Parse duration and prepare for HeyGen\nconst durationResult = $input.first().json;\nconst ttsData = $('Prepare TTS Text').first().json;\n\nlet duration = 45;\ntry {\n  duration = parseFloat(durationResult.stdout.trim()) || 45;\n} catch (e) {}\n\nreturn [{\n  json: {\n    asset_id: ttsData.asset_id,\n    script_id: ttsData.script_id,\n    content_idea_id: ttsData.content_idea_id,\n    voice_path: `/home/node/assets/audio/${ttsData.script_id}_voice.mp3`,\n    duration_seconds: Math.round(duration * 10) / 10,\n    broll_paths: ttsData.broll_paths\n  }\n}];"},"id":"0a2b5e9d-a26c-4626-a17f-b6d87c14e206","name":"Prepare HeyGen Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,1760]},{"parameters":{"method":"POST","url":"https://api.heygen.com/v2/video/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $env.HEYGEN_AVATAR_ID || 'Kristin_pubblic_3_20240108' }}\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"audio\",\n        \"audio_url\": \"{{ $env.N8N_PUBLIC_URL || 'http://100.83.153.43:5678' }}/webhook/serve-audio/{{ $json.script_id }}\"\n      },\n      \"background\": {\n        \"type\": \"color\",\n        \"value\": \"#00FF00\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1080,\n    \"height\": 1920\n  },\n  \"aspect_ratio\": \"9:16\"\n}","options":{"timeout":60000}},"id":"28be5f81-baa0-4369-b922-dc66a81e7955","name":"Create HeyGen Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,1760],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"jsCode":"// Extract HeyGen video ID and initialize retry counter\nconst response = $input.first().json;\nconst prevData = $('Prepare HeyGen Data').first().json;\n\nif (!response.data?.video_id) {\n  throw new Error(`HeyGen error: ${JSON.stringify(response)}`);\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    heygen_video_id: response.data.video_id,\n    retry_count: 0,\n    max_retries: 20\n  }\n}];"},"id":"9892a911-7756-415d-af6e-5fd0aa7a2b07","name":"Extract Video ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,1760]},{"parameters":{"amount":30},"id":"109cc8ed-88e8-411f-b97f-9467c1a3545f","name":"Wait 30s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[720,1760],"webhookId":"81254723-aa9a-4474-96d5-dee491ac8b1c"},{"parameters":{"url":"=https://api.heygen.com/v1/video_status.get?video_id={{ $json.heygen_video_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"af09b9dd-9c48-4b10-8f1c-232ca9d294da","name":"Check Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,1760],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-completed","leftValue":"={{ $json.data?.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"7ef2cbc4-45fb-4a8a-a89e-43904649d1ee","name":"Completed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1168,1760]},{"parameters":{"jsCode":"// Increment retry counter and check max\nconst prevData = $('Extract Video ID').first().json;\nconst checkData = $input.first().json;\nconst retryCount = (prevData.retry_count || 0) + 1;\nconst maxRetries = prevData.max_retries || 20;\n\nif (retryCount > maxRetries) {\n  throw new Error(`HeyGen timeout: Video ${prevData.heygen_video_id} did not complete after ${maxRetries} retries (${maxRetries * 15 / 60} minutes). Last status: ${checkData.data?.status}`);\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    retry_count: retryCount,\n    last_status: checkData.data?.status\n  }\n}];"},"id":"10a8a95c-4882-4a08-85bb-0feb8b559d7c","name":"Increment Retry","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,1952]},{"parameters":{"amount":15},"id":"18f141bf-91c2-4777-b1be-99a6e398e962","name":"Wait & Retry","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,1952],"webhookId":"8e827ed8-abab-4aea-821e-dccce408c7bf"},{"parameters":{"url":"={{ $('Check Status').first().json.data.video_url }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":180000}},"id":"9e0c1c2e-eaab-4001-9081-8e2dd0c91b68","name":"Download Avatar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1392,1760]},{"parameters":{"operation":"write","fileName":"=/home/node/assets/avatar/{{ $('Extract Video ID').first().json.script_id }}_avatar.mp4","options":{}},"id":"3c87111e-6c7a-4833-883d-483da7bb9867","name":"Save Avatar","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1600,1760]},{"parameters":{"content":"## Combine Videos + Music\nFFmpeg chromakey compositing","height":140,"width":180,"color":2},"id":"24dcf358-91b9-442f-87cd-02695eacbe79","name":"Combine Vids","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1968]},{"parameters":{"jsCode":"// Build FFmpeg command for video compositing\nconst prevData = $('Extract Video ID').first().json;\nconst scriptId = prevData.script_id;\n\nconst avatarPath = `/home/node/assets/avatar/${scriptId}_avatar.mp4`;\nconst brollPaths = prevData.broll_paths || [];\nconst outputPath = `/home/node/assets/output/${scriptId}_combined.mp4`;\n\n// Build FFmpeg filter complex\nlet inputs = `-i ${avatarPath}`;\nlet filterComplex = '';\n\nif (brollPaths.length > 0) {\n  // Add B-roll inputs\n  brollPaths.forEach(path => {\n    inputs += ` -i ${path}`;\n  });\n  \n  // Concat B-roll clips\n  const brollInputs = brollPaths.map((_, i) => `[${i + 1}:v]`).join('');\n  filterComplex = `${brollInputs}concat=n=${brollPaths.length}:v=1:a=0[broll];`;\n  filterComplex += `[broll]scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920[broll_scaled];`;\n  filterComplex += `[0:v]chromakey=0x00FF00:0.1:0.2[avatar_keyed];`;\n  filterComplex += `[broll_scaled][avatar_keyed]overlay=(W-w)/2:H-h-100:shortest=1[outv]`;\n} else {\n  // No B-roll - solid background\n  filterComplex = `[0:v]chromakey=0x00FF00:0.1:0.2[avatar_keyed];`;\n  filterComplex += `color=c=#1a1a2e:s=1080x1920:d=120[bg];`;\n  filterComplex += `[bg][avatar_keyed]overlay=(W-w)/2:H-h-100:shortest=1[outv]`;\n}\n\nconst ffmpegCmd = `ffmpeg -y ${inputs} -filter_complex \"${filterComplex}\" -map \"[outv]\" -map 0:a? -c:v libx264 -preset fast -crf 23 -c:a aac -b:a 128k -movflags +faststart ${outputPath}`;\n\nreturn [{\n  json: {\n    asset_id: prevData.asset_id,\n    script_id: scriptId,\n    content_idea_id: prevData.content_idea_id,\n    ffmpeg_command: ffmpegCmd,\n    output_path: outputPath\n  }\n}];"},"id":"5b206817-b3be-4b37-96eb-b11e7d1b8275","name":"Build FFmpeg Command","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,2128]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst ffmpegCmd = $input.first().json.ffmpeg_command;\n\ntry {\n  const result = execSync(ffmpegCmd, { encoding: 'utf-8', timeout: 300000 });\n  return [{ json: { stdout: result, exitCode: 0, success: true } }];\n} catch (error) {\n  if (error.status !== undefined) {\n    return [{ json: { stdout: error.stdout || '', stderr: error.stderr || '', exitCode: error.status, success: error.status === 0 } }];\n  }\n  return [{ json: { stdout: '', stderr: error.message, exitCode: 1, success: false } }];\n}"},"id":"cc7e78a3-d6fd-42c0-a842-2ef4364a6500","name":"Run FFmpeg","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,2128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ffmpeg-success","leftValue":"={{ $json.exitCode }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"07d176e4-2131-4a7a-8ac5-473c960a7e3a","name":"Success?","type":"n8n-nodes-base.if","typeVersion":2,"position":[512,2128]},{"parameters":{"jsCode":"throw new Error(`FFmpeg failed: ${$input.first().json.stderr}`);"},"id":"d24696b1-5529-4e01-93f9-bed60f4deeb6","name":"Handle Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,2304]},{"parameters":{"content":"## Caption\nGenerate SRT + burn captions with FFmpeg","height":140,"width":180},"id":"33ba2693-3c04-4f2c-bf72-6fdbfe6d30fe","name":"Caption","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2320]},{"parameters":{"jsCode":"// Prepare data for Whisper transcription\nconst ffmpegData = $('Build FFmpeg Command').first().json;\nconst ttsData = $('Prepare TTS Text').first().json;\n\nreturn [{\n  json: {\n    asset_id: ffmpegData.asset_id,\n    script_id: ffmpegData.script_id,\n    content_idea_id: ffmpegData.content_idea_id,\n    combined_video_path: ffmpegData.output_path,\n    audio_path: `/home/node/assets/audio/${ffmpegData.script_id}_voice.mp3`\n  }\n}];"},"id":"d98c3e33-896a-4e86-a97d-7ad4c1b6513d","name":"Prepare Whisper","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,2480]},{"parameters":{"fileSelector":"={{ $json.audio_path }}","options":{}},"id":"3e52973d-1568-45c6-ab54-6635e58f8c08","name":"Read Audio for Whisper","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[288,2480]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"name":"response_format","value":"srt"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"timeout":120000}},"id":"969e64dc-70d0-497b-b3cb-7ce1addd3a4b","name":"Whisper Transcribe","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[512,2480],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"jsCode":"// Extract SRT content from Whisper response\nconst response = $input.first().json;\nconst prevData = $('Prepare Whisper').first().json;\n\n// Whisper returns SRT as plain text\nconst srtContent = typeof response === 'string' ? response : (response.text || response.data || JSON.stringify(response));\n\nreturn [{\n  json: {\n    asset_id: prevData.asset_id,\n    script_id: prevData.script_id,\n    content_idea_id: prevData.content_idea_id,\n    combined_video_path: prevData.combined_video_path,\n    srt_content: srtContent\n  }\n}];"},"id":"ffb9c500-b971-4c58-967e-2ff4a19ae0e6","name":"Parse Whisper Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,2480]},{"parameters":{"operation":"write","fileName":"=/home/node/assets/captions/{{ $json.script_id }}_captions.srt","dataPropertyName":"srt_content","options":{}},"id":"543e0ff3-a7ba-4306-ad33-db0920e96aea","name":"Save SRT","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[944,2480]},{"parameters":{"jsCode":"// Build FFmpeg caption burn command\nconst prevData = $('Parse Whisper Response').first().json;\nconst scriptId = prevData.script_id;\n\nconst inputPath = prevData.combined_video_path;\nconst srtPath = `/home/node/assets/captions/${scriptId}_captions.srt`;\nconst outputPath = `/home/node/assets/output/${scriptId}_final.mp4`;\n\n// Styled subtitles for social media\nconst subtitleFilter = `subtitles=${srtPath}:force_style='FontName=Arial,FontSize=28,PrimaryColour=&HFFFFFF,OutlineColour=&H000000,Outline=3,Shadow=1,Alignment=2,MarginV=80'`;\n\nconst ffmpegCmd = `ffmpeg -y -i ${inputPath} -vf \"${subtitleFilter}\" -c:v libx264 -preset fast -crf 23 -c:a copy ${outputPath}`;\n\nreturn [{\n  json: {\n    asset_id: prevData.asset_id,\n    script_id: scriptId,\n    content_idea_id: prevData.content_idea_id,\n    ffmpeg_command: ffmpegCmd,\n    final_video_path: outputPath\n  }\n}];"},"id":"17fa4340-7704-4a01-a972-695477366a9a","name":"Build Caption Cmd","type":"n8n-nodes-base.code","typeVersion":2,"position":[1168,2480]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst ffmpegCmd = $input.first().json.ffmpeg_command;\n\ntry {\n  const result = execSync(ffmpegCmd, { encoding: 'utf-8', timeout: 300000 });\n  return [{ json: { stdout: result, exitCode: 0, success: true } }];\n} catch (error) {\n  if (error.status !== undefined) {\n    return [{ json: { stdout: error.stdout || '', stderr: error.stderr || '', exitCode: error.status, success: error.status === 0 } }];\n  }\n  return [{ json: { stdout: '', stderr: error.message, exitCode: 1, success: false } }];\n}"},"id":"59d59ab5-a621-49eb-a61f-4e2abdffe0ae","name":"Burn Captions","type":"n8n-nodes-base.code","typeVersion":2,"position":[1392,2480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"caption-success","leftValue":"={{ $json.exitCode }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"88fea277-1489-4e13-bd24-62f856b98afb","name":"Caption Success?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1600,2480]},{"parameters":{"jsCode":"// Handle caption failure - update asset status and throw error\nconst captionData = $('Build Caption Cmd').first().json;\nconst errorMsg = $input.first().json.stderr || 'Caption burn failed';\n\nthrow new Error(`Caption failed for asset ${captionData.asset_id}: ${errorMsg}`);"},"id":"eb683487-8c7b-4b58-b988-24969c92471c","name":"Handle Caption Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,2672]},{"parameters":{"content":"## Publish\nBlotato multi-platform publishing","height":140,"width":180,"color":4},"id":"bc44382b-74a0-4e40-a855-0a19f7367b90","name":"Publish","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2688]},{"parameters":{"jsCode":"// Prepare publishing data with platform-specific captions\nconst captionData = $('Build Caption Cmd').first().json;\nconst parseData = $('Parse Script').first().json;\n\nconst pillarHashtags = {\n  market_intelligence: ['#realestate', '#housingmarket', '#marketupdate', '#homeprices'],\n  educational_tips: ['#realestatetips', '#homebuying101', '#firsttimehomebuyer', '#realtortips'],\n  lifestyle_local: ['#localrealestate', '#dreamhome', '#neighborhoodguide', '#homesweethome'],\n  brand_humanization: ['#realtor', '#realtorlife', '#behindthescenes', '#realestateagent']\n};\n\nconst hashtags = pillarHashtags[parseData.pillar] || pillarHashtags.educational_tips;\nconst caption = `${parseData.hook}\\n\\n${parseData.cta}\\n\\n${hashtags.join(' ')}`;\n\nreturn [{\n  json: {\n    asset_id: captionData.asset_id,\n    script_id: captionData.script_id,\n    content_idea_id: captionData.content_idea_id,\n    final_video_path: captionData.final_video_path,\n    caption: caption,\n    platforms: ['tiktok', 'instagram', 'youtube_shorts']\n  }\n}];"},"id":"4f18b1c8-27a2-4fb4-863b-6fb50be9dd77","name":"Prepare Publish Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[64,2848]},{"parameters":{"method":"POST","url":"https://api.blotato.com/v1/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"platforms\": {{ JSON.stringify($json.platforms) }},\n  \"content\": {\n    \"caption\": {{ JSON.stringify($json.caption) }},\n    \"video_url\": \"{{ $env.N8N_PUBLIC_URL || 'http://100.83.153.43:5678' }}/webhook/serve-video/{{ $json.script_id }}\"\n  },\n  \"schedule\": { \"type\": \"now\" },\n  \"options\": { \"auto_hashtags\": false, \"cross_post\": true }\n}","options":{"timeout":120000}},"id":"ac2f7ab4-eb1f-4599-ae1e-d5a5adbf5331","name":"Publish (Blotato)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,2848],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"jsCode":"// Process publish response and map to individual platform columns\nconst response = $input.first().json;\nconst publishData = $('Prepare Publish Data').first().json;\n\nconst posts = response.posts || response.data?.posts || [];\n\n// Map platform posts to individual columns matching backend schema\nconst platformData = {\n  tiktok_url: null, tiktok_id: null,\n  ig_url: null, ig_id: null,\n  yt_url: null, yt_id: null,\n  linkedin_url: null, linkedin_id: null,\n  x_url: null, x_id: null,\n  facebook_url: null, facebook_id: null,\n  threads_url: null, threads_id: null,\n  pinterest_url: null, pinterest_id: null\n};\n\nposts.forEach(post => {\n  const platform = post.platform?.toLowerCase();\n  if (platform === 'tiktok') {\n    platformData.tiktok_url = post.url;\n    platformData.tiktok_id = post.id;\n  } else if (platform === 'instagram') {\n    platformData.ig_url = post.url;\n    platformData.ig_id = post.id;\n  } else if (platform === 'youtube' || platform === 'youtube_shorts') {\n    platformData.yt_url = post.url;\n    platformData.yt_id = post.id;\n  } else if (platform === 'linkedin') {\n    platformData.linkedin_url = post.url;\n    platformData.linkedin_id = post.id;\n  } else if (platform === 'twitter' || platform === 'x') {\n    platformData.x_url = post.url;\n    platformData.x_id = post.id;\n  } else if (platform === 'facebook') {\n    platformData.facebook_url = post.url;\n    platformData.facebook_id = post.id;\n  } else if (platform === 'threads') {\n    platformData.threads_url = post.url;\n    platformData.threads_id = post.id;\n  } else if (platform === 'pinterest') {\n    platformData.pinterest_url = post.url;\n    platformData.pinterest_id = post.id;\n  }\n});\n\nreturn [{\n  json: {\n    asset_id: publishData.asset_id,\n    content_idea_id: publishData.content_idea_id,\n    ...platformData,\n    published_at: new Date().toISOString()\n  }\n}];"},"id":"233805d9-bc0e-43cd-bbd7-d8ac67eccef7","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,2848]},{"parameters":{"method":"POST","url":"http://backend:8000/api/published","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"asset_id\": {{ $json.asset_id }},\n  \"tiktok_url\": {{ JSON.stringify($json.tiktok_url) }},\n  \"tiktok_id\": {{ JSON.stringify($json.tiktok_id) }},\n  \"ig_url\": {{ JSON.stringify($json.ig_url) }},\n  \"ig_id\": {{ JSON.stringify($json.ig_id) }},\n  \"yt_url\": {{ JSON.stringify($json.yt_url) }},\n  \"yt_id\": {{ JSON.stringify($json.yt_id) }},\n  \"linkedin_url\": {{ JSON.stringify($json.linkedin_url) }},\n  \"linkedin_id\": {{ JSON.stringify($json.linkedin_id) }},\n  \"x_url\": {{ JSON.stringify($json.x_url) }},\n  \"x_id\": {{ JSON.stringify($json.x_id) }},\n  \"facebook_url\": {{ JSON.stringify($json.facebook_url) }},\n  \"facebook_id\": {{ JSON.stringify($json.facebook_id) }},\n  \"threads_url\": {{ JSON.stringify($json.threads_url) }},\n  \"threads_id\": {{ JSON.stringify($json.threads_id) }},\n  \"pinterest_url\": {{ JSON.stringify($json.pinterest_url) }},\n  \"pinterest_id\": {{ JSON.stringify($json.pinterest_id) }}\n}","options":{}},"id":"ca41dafe-309e-478a-88f1-e5cf1215861b","name":"Save Publish Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,2848]},{"parameters":{"method":"PATCH","url":"=http://backend:8000/api/content-ideas/{{ $('Parse Response').first().json.content_idea_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"published\",\n  \"published_at\": {{ JSON.stringify($('Parse Response').first().json.published_at) }}\n}","options":{}},"id":"8dae33b5-22a4-4494-915c-2b3bfa84dffd","name":"Update Status Published","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,2848]},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Pipeline complete\", \"content_idea_id\": $('Parse Response').first().json.content_idea_id, \"published_at\": $('Parse Response').first().json.published_at } }}","options":{}},"id":"c80a0012-1e58-4cf2-8d3d-982a43761e3e","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1168,2848]},{"parameters":{"content":"## File Server\nServe audio/video files to external APIs","height":140,"width":180,"color":0},"id":"190c3cd6-519f-4622-a08a-4661050693bc","name":"File Server","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1504,48]},{"parameters":{"path":"677f1a15-62bd-4d50-b153-264fc56cf570","responseMode":"responseNode","options":{}},"id":"2e96d71e-482e-45ee-950f-f2353cfeb090","name":"Serve Audio","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1568,208],"webhookId":"677f1a15-62bd-4d50-b153-264fc56cf570"},{"parameters":{"fileSelector":"=/home/node/assets/audio/{{ $json.params.script_id }}_voice.mp3","options":{}},"id":"83363e5c-fc4a-4a39-9fa0-8c77ff74902e","name":"Read Audio","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1792,208]},{"parameters":{"respondWith":"binary","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"audio/mpeg"}]}}},"id":"e67cbde8-b47d-4bbc-a5fc-a0a1f02686a8","name":"Return Audio","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2000,208]},{"parameters":{"path":"d80a2a2a-79b9-41ba-b492-d9b670dcc467","responseMode":"responseNode","options":{}},"id":"a4d24c34-f1f8-4297-bf2a-1ca641d5b2fb","name":"Serve Video","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1568,384],"webhookId":"d80a2a2a-79b9-41ba-b492-d9b670dcc467"},{"parameters":{"fileSelector":"=/home/node/assets/output/{{ $json.params.script_id }}_final.mp4","options":{}},"id":"aec83070-d999-478e-a05d-442a97866a11","name":"Read Video","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1792,384]},{"parameters":{"respondWith":"binary","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"video/mp4"}]}}},"id":"3e223418-2fef-42c7-ae41-91098dc05388","name":"Return Video","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2000,384]}],"connections":{"Daily 6am Scrape":{"main":[[{"node":"Parse Scrape Params","type":"main","index":0}]]},"Scrape Webhook":{"main":[[{"node":"Parse Scrape Params","type":"main","index":0}]]},"Parse Scrape Params":{"main":[[{"node":"TikTok?","type":"main","index":0},{"node":"Instagram?","type":"main","index":0},{"node":"YouTube?","type":"main","index":0}]]},"TikTok?":{"main":[[{"node":"Apify TikTok","type":"main","index":0}],[{"node":"Skip TikTok","type":"main","index":0}]]},"Instagram?":{"main":[[{"node":"Apify Instagram Reels","type":"main","index":0}],[{"node":"Skip Instagram","type":"main","index":0}]]},"YouTube?":{"main":[[{"node":"Apify YouTube","type":"main","index":0}],[{"node":"Skip YouTube","type":"main","index":0}]]},"Apify TikTok":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Apify Instagram Reels":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Apify YouTube":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip TikTok":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip Instagram":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip YouTube":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Merge Results":{"main":[[{"node":"Normalize Data","type":"main","index":0}]]},"Normalize Data":{"main":[[{"node":"Analyze with Grok","type":"main","index":0}]]},"Analyze with Grok":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Split Trends","type":"main","index":0}]]},"Split Trends":{"main":[[{"node":"Save Content Idea","type":"main","index":0}]]},"Save Content Idea":{"main":[[{"node":"Aggregate Saved","type":"main","index":0}]]},"Aggregate Saved":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Approved Idea","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Specific ID?","type":"main","index":0}]]},"Get Approved Idea":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Specific ID?":{"main":[[{"node":"Get Specific Idea","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Get Specific Idea":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Normalize Idea","type":"main","index":0}]]},"Normalize Idea":{"main":[[{"node":"Has Content?","type":"main","index":0}]]},"Has Content?":{"main":[[{"node":"Update Status","type":"main","index":0}],[{"node":"No Content","type":"main","index":0}]]},"Update Status":{"main":[[{"node":"Generate Script (Grok)","type":"main","index":0}]]},"Generate Script (Grok)":{"main":[[{"node":"Parse Script","type":"main","index":0}]]},"Parse Script":{"main":[[{"node":"Save Script","type":"main","index":0}]]},"Save Script":{"main":[[{"node":"Create Asset Record","type":"main","index":0}]]},"Create Asset Record":{"main":[[{"node":"Prepare B-Roll Searches","type":"main","index":0}]]},"Prepare B-Roll Searches":{"main":[[{"node":"Search Pexels","type":"main","index":0}]]},"Search Pexels":{"main":[[{"node":"Select Videos","type":"main","index":0}]]},"Select Videos":{"main":[[{"node":"Video Found?","type":"main","index":0}]]},"Video Found?":{"main":[[{"node":"Download B-Roll","type":"main","index":0}],[{"node":"Skip B-Roll","type":"main","index":0}]]},"Download B-Roll":{"main":[[{"node":"Save B-Roll","type":"main","index":0}]]},"Save B-Roll":{"main":[[{"node":"Merge B-Roll","type":"main","index":0}]]},"Skip B-Roll":{"main":[[{"node":"Merge B-Roll","type":"main","index":1}]]},"Merge B-Roll":{"main":[[{"node":"Prepare TTS Text","type":"main","index":0}]]},"Prepare TTS Text":{"main":[[{"node":"Generate Voice (ElevenLabs)","type":"main","index":0}]]},"Generate Voice (ElevenLabs)":{"main":[[{"node":"Save Voice","type":"main","index":0}]]},"Save Voice":{"main":[[{"node":"Get Duration","type":"main","index":0}]]},"Get Duration":{"main":[[{"node":"Prepare HeyGen Data","type":"main","index":0}]]},"Prepare HeyGen Data":{"main":[[{"node":"Create HeyGen Video","type":"main","index":0}]]},"Create HeyGen Video":{"main":[[{"node":"Extract Video ID","type":"main","index":0}]]},"Extract Video ID":{"main":[[{"node":"Wait 30s","type":"main","index":0}]]},"Wait 30s":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Completed?","type":"main","index":0}]]},"Completed?":{"main":[[{"node":"Download Avatar","type":"main","index":0}],[{"node":"Increment Retry","type":"main","index":0}]]},"Increment Retry":{"main":[[{"node":"Wait & Retry","type":"main","index":0}]]},"Wait & Retry":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Download Avatar":{"main":[[{"node":"Save Avatar","type":"main","index":0}]]},"Save Avatar":{"main":[[{"node":"Build FFmpeg Command","type":"main","index":0}]]},"Build FFmpeg Command":{"main":[[{"node":"Run FFmpeg","type":"main","index":0}]]},"Run FFmpeg":{"main":[[{"node":"Success?","type":"main","index":0}]]},"Success?":{"main":[[{"node":"Prepare Whisper","type":"main","index":0}],[{"node":"Handle Error","type":"main","index":0}]]},"Prepare Whisper":{"main":[[{"node":"Read Audio for Whisper","type":"main","index":0}]]},"Read Audio for Whisper":{"main":[[{"node":"Whisper Transcribe","type":"main","index":0}]]},"Whisper Transcribe":{"main":[[{"node":"Parse Whisper Response","type":"main","index":0}]]},"Parse Whisper Response":{"main":[[{"node":"Save SRT","type":"main","index":0}]]},"Save SRT":{"main":[[{"node":"Build Caption Cmd","type":"main","index":0}]]},"Build Caption Cmd":{"main":[[{"node":"Burn Captions","type":"main","index":0}]]},"Burn Captions":{"main":[[{"node":"Caption Success?","type":"main","index":0}]]},"Caption Success?":{"main":[[{"node":"Prepare Publish Data","type":"main","index":0}],[{"node":"Handle Caption Error","type":"main","index":0}]]},"Prepare Publish Data":{"main":[[{"node":"Publish (Blotato)","type":"main","index":0}]]},"Publish (Blotato)":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Save Publish Record","type":"main","index":0}]]},"Save Publish Record":{"main":[[{"node":"Update Status Published","type":"main","index":0}]]},"Update Status Published":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Serve Audio":{"main":[[{"node":"Read Audio","type":"main","index":0}]]},"Read Audio":{"main":[[{"node":"Return Audio","type":"main","index":0}]]},"Serve Video":{"main":[[{"node":"Read Video","type":"main","index":0}]]},"Read Video":{"main":[[{"node":"Return Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":{"node:Daily 6am Scrape":{"recurrenceRules":[]},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"40965b56-fa06-4046-beb8-df82317ceea7","activeVersionId":"40965b56-fa06-4046-beb8-df82317ceea7","versionCounter":5,"triggerCount":6,"tags":[],"shared":[{"updatedAt":"2026-01-07T01:12:12.441Z","createdAt":"2026-01-07T01:12:12.441Z","role":"workflow:owner","workflowId":"x9Z6SpQn1IiDvLNY","projectId":"qCuD3VHIL5taTzsY","project":{"updatedAt":"2026-01-07T00:54:10.930Z","createdAt":"2026-01-07T00:53:52.808Z","id":"qCuD3VHIL5taTzsY","name":"Cameron Anderson <cameronsaddress@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"16c5cdbd-493c-4058-92b0-51725a196dcb"}}]},{"updatedAt":"2026-01-06T00:00:00.000Z","createdAt":"2026-01-07T01:24:15.387Z","id":"FPmtwiLpvcWFdrP0","name":"AI ContentGenerator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 1. SCRAPE\nDiscover trending content from TikTok, Instagram, YouTube","height":160,"width":280,"color":7},"id":"note-scrape","name":"Scrape Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,-100]},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"scrape-schedule","name":"Daily 6am Scrape","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1560,60]},{"parameters":{"httpMethod":"POST","path":"scrape-trends","responseMode":"responseNode","options":{}},"id":"scrape-webhook","name":"Scrape Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1560,240],"webhookId":"scrape-trends"},{"parameters":{"jsCode":"// Parse incoming niche/platform parameters\nconst body = $input.first().json.body || $input.first().json;\n\n// Defaults\nconst niche = body.niche || 'real estate';\nconst hashtags = body.hashtags || ['realestate', 'realtor', 'homebuying', 'firsttimehomebuyer'];\nconst platforms = body.platforms || ['tiktok', 'instagram'];\nconst timeRange = body.time_range || '24h';\nconst resultsPerPlatform = body.results_per_platform || 20;\n\n// Build search terms from niche\nconst nicheTerms = niche.split(/[,;]+/).map(t => t.trim()).filter(t => t);\n\nreturn [{\n  json: {\n    niche,\n    nicheTerms,\n    hashtags,\n    platforms,\n    timeRange,\n    resultsPerPlatform,\n    scrapeStartedAt: new Date().toISOString()\n  }\n}];"},"id":"scrape-parse-params","name":"Parse Scrape Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1340,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"tiktok-check","leftValue":"={{ $json.platforms.includes('tiktok') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-tiktok","name":"TikTok?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,-40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"instagram-check","leftValue":"={{ $json.platforms.includes('instagram') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-instagram","name":"Instagram?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"youtube-check","leftValue":"={{ $json.platforms.includes('youtube') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-youtube","name":"YouTube?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,360]},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/clockworks~tiktok-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"hashtags\": {{ JSON.stringify($('Parse Scrape Params').first().json.hashtags) }},\n  \"resultsPerPage\": {{ $('Parse Scrape Params').first().json.resultsPerPlatform }},\n  \"shouldDownloadVideos\": false,\n  \"shouldDownloadCovers\": false\n}","options":{"timeout":180000}},"id":"apify-tiktok","name":"Apify TikTok","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,-40],"credentials":{"httpHeaderAuth":{"id":"apify","name":"apify"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~instagram-reel-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"hashtags\": {{ JSON.stringify($('Parse Scrape Params').first().json.hashtags) }},\n  \"resultsLimit\": {{ $('Parse Scrape Params').first().json.resultsPerPlatform }}\n}","options":{"timeout":180000}},"id":"apify-instagram","name":"Apify Instagram Reels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,160],"credentials":{"httpHeaderAuth":{"id":"apify","name":"apify"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/bernardo~youtube-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"searchKeywords\": {{ JSON.stringify($('Parse Scrape Params').first().json.nicheTerms) }},\n  \"maxResults\": {{ $('Parse Scrape Params').first().json.resultsPerPlatform }}\n}","options":{"timeout":180000}},"id":"apify-youtube","name":"Apify YouTube","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,360],"credentials":{"httpHeaderAuth":{"id":"apify","name":"apify"}}},{"parameters":{},"id":"skip-tiktok","name":"Skip TikTok","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-860,-140]},{"parameters":{},"id":"skip-instagram","name":"Skip Instagram","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-860,60]},{"parameters":{},"id":"skip-youtube","name":"Skip YouTube","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-860,260]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{"includeUnpaired":true}},"id":"scrape-merge","name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-600,160]},{"parameters":{"jsCode":"// Normalize scraped items from different platforms\nconst items = $input.all();\nconst params = $('Parse Scrape Params').first().json;\nconst normalized = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data || typeof data !== 'object') continue;\n  \n  // Skip empty arrays or merge placeholders\n  if (Array.isArray(data) && data.length === 0) continue;\n  \n  // TikTok format\n  if (data.webVideoUrl || data.videoUrl) {\n    normalized.push({\n      platform: 'tiktok',\n      url: data.webVideoUrl || data.videoUrl,\n      title: data.text || data.desc || '',\n      views: data.playCount || 0,\n      likes: data.diggCount || 0,\n      comments: data.commentCount || 0,\n      shares: data.shareCount || 0,\n      engagement: (data.diggCount || 0) + (data.commentCount || 0) + (data.shareCount || 0),\n      author: data.authorMeta?.name || data.author || '',\n      created: data.createTime || null,\n      thumbnail: data.covers?.default || data.videoMeta?.coverUrl || ''\n    });\n  }\n  // Instagram Reels format\n  else if (data.url && (data.url.includes('instagram') || data.type === 'Reel')) {\n    normalized.push({\n      platform: 'instagram',\n      url: data.url || data.inputUrl,\n      title: data.caption || data.text || '',\n      views: data.playCount || data.videoPlayCount || 0,\n      likes: data.likesCount || data.likes || 0,\n      comments: data.commentsCount || data.comments || 0,\n      shares: 0,\n      engagement: (data.likesCount || data.likes || 0) + (data.commentsCount || data.comments || 0),\n      author: data.ownerUsername || data.author || '',\n      created: data.timestamp || null,\n      thumbnail: data.displayUrl || data.thumbnail || ''\n    });\n  }\n  // YouTube format\n  else if (data.url && data.url.includes('youtube')) {\n    normalized.push({\n      platform: 'youtube',\n      url: data.url,\n      title: data.title || '',\n      views: data.viewCount || 0,\n      likes: data.likes || 0,\n      comments: data.comments || 0,\n      shares: 0,\n      engagement: (data.likes || 0) + (data.comments || 0),\n      author: data.channelName || data.author || '',\n      created: data.uploadDate || null,\n      thumbnail: data.thumbnailUrl || ''\n    });\n  }\n}\n\n// Sort by engagement (highest first)\nnormalized.sort((a, b) => b.engagement - a.engagement);\n\n// Add metadata\nconst output = {\n  niche: params.niche,\n  platforms: params.platforms,\n  scrapedAt: params.scrapeStartedAt,\n  totalResults: normalized.length,\n  results: normalized\n};\n\nreturn [{ json: output }];"},"id":"scrape-normalize","name":"Normalize Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,160]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"HTTP-Referer","value":"http://100.83.153.43:5678"},{"name":"X-Title","value":"n8n-trend-analyzer"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"x-ai/grok-4-1106\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You analyze trending social media content to find viral video ideas for a content creator.\\n\\nTarget niche: {{ $json.niche }}\\n\\nFor each piece of content, determine:\\n1. viral_score (1-10): How viral/engaging is this content?\\n2. pillar: One of: market_intelligence, educational_tips, lifestyle_local, brand_humanization\\n3. suggested_hook: A compelling hook to recreate this content\\n4. why_viral: Brief explanation of what makes it work\\n5. adaptable: true/false - Can this be adapted for the target niche?\\n\\nPILLAR DEFINITIONS:\\n- market_intelligence: Data, trends, market analysis, pricing, investment\\n- educational_tips: How-tos, tutorials, tips, process explanations\\n- lifestyle_local: Community, local events, lifestyle content\\n- brand_humanization: Personal stories, behind-the-scenes, relatable moments\\n\\nReturn JSON: { \\\"analyzed\\\": [{ \\\"url\\\", \\\"platform\\\", \\\"title\\\", \\\"views\\\", \\\"likes\\\", \\\"viral_score\\\", \\\"pillar\\\", \\\"suggested_hook\\\", \\\"why_viral\\\", \\\"adaptable\\\" }] }\\n\\nOnly include items with viral_score >= 6. Sort by viral_score descending.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze these {{ $json.totalResults }} trending items and identify the best content ideas:\\n\\n{{ JSON.stringify($json.results.slice(0, 30)) }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" }\n}","options":{"timeout":90000}},"id":"scrape-analyze-grok","name":"Analyze with Grok","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,160],"credentials":{"httpHeaderAuth":{"id":"openrouter","name":"openrouter"}}},{"parameters":{"jsCode":"// Parse LLM response and format for API/UI\nconst response = $input.first().json;\nconst normalizedData = $('Normalize Data').first().json;\n\ntry {\n  const content = response.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  const items = parsed.analyzed || parsed.items || [];\n  \n  // Filter for viral_score >= 6 and adaptable = true\n  const filtered = items.filter(item => \n    item.viral_score >= 6 && item.adaptable !== false\n  );\n  \n  return [{\n    json: {\n      success: true,\n      niche: normalizedData.niche,\n      scrapedAt: normalizedData.scrapedAt,\n      totalScraped: normalizedData.totalResults,\n      analyzedCount: filtered.length,\n      trends: filtered\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      niche: normalizedData.niche,\n      scrapedAt: normalizedData.scrapedAt,\n      totalScraped: normalizedData.totalResults,\n      analyzedCount: 0,\n      trends: []\n    }\n  }];\n}"},"id":"scrape-format-response","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,160]},{"parameters":{"jsCode":"// Split trends into individual items for saving\nconst data = $input.first().json;\nif (!data.success || !data.trends || data.trends.length === 0) {\n  return [{ json: { ...data, savedCount: 0 } }];\n}\n\n// Return each trend as a separate item\nreturn data.trends.map(trend => ({\n  json: {\n    ...trend,\n    niche: data.niche,\n    scrapedAt: data.scrapedAt\n  }\n}));"},"id":"scrape-split-trends","name":"Split Trends","type":"n8n-nodes-base.code","typeVersion":2,"position":[280,160]},{"parameters":{"method":"POST","url":"http://backend:8000/api/content-ideas","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source_url\": {{ JSON.stringify($json.url || '') }},\n  \"source_platform\": {{ JSON.stringify($json.platform || 'unknown') }},\n  \"original_text\": {{ JSON.stringify($json.title || '') }},\n  \"pillar\": {{ JSON.stringify($json.pillar || 'educational_tips') }},\n  \"viral_score\": {{ $json.viral_score || 7 }},\n  \"suggested_hook\": {{ JSON.stringify($json.suggested_hook || '') }},\n  \"why_viral\": {{ JSON.stringify($json.why_viral || '') }},\n  \"status\": \"pending\"\n}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":100}}}},"id":"scrape-save-idea","name":"Save Content Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,160]},{"parameters":{"jsCode":"// Aggregate saved ideas and prepare response\nconst items = $input.all();\nconst formatData = $('Format Response').first().json;\nconst savedCount = items.filter(i => i.json.id).length;\n\nreturn [{\n  json: {\n    success: true,\n    niche: formatData.niche,\n    scrapedAt: formatData.scrapedAt,\n    totalScraped: formatData.totalScraped,\n    analyzedCount: formatData.analyzedCount,\n    savedCount: savedCount,\n    message: `Saved ${savedCount} content ideas to database`\n  }\n}];"},"id":"scrape-aggregate","name":"Aggregate Saved","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,160]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"scrape-respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[940,160]},{"parameters":{"content":"## 2. Auto Trigger\nSchedule (15min) + Webhook to start pipeline","height":140,"width":180,"color":4},"id":"note-auto-trigger","name":"Auto Trigger","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,40]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1000,200]},{"parameters":{"httpMethod":"POST","path":"trigger-pipeline","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[60,380],"webhookId":"trigger-pipeline"},{"parameters":{"method":"GET","url":"http://backend:8000/api/content-ideas?status=approved&limit=1","options":{}},"id":"get-approved-idea","name":"Get Approved Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-specific-id","leftValue":"={{ $json.body?.content_idea_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if-specific-id","name":"Specific ID?","type":"n8n-nodes-base.if","typeVersion":2,"position":[280,380]},{"parameters":{"method":"GET","url":"=http://backend:8000/api/content-ideas/{{ $json.body.content_idea_id }}","options":{}},"id":"get-specific-idea","name":"Get Specific Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,380]},{"parameters":{"mode":"combine","mergeByFields":{"values":[]},"options":{}},"id":"merge-idea-sources","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[720,200]},{"parameters":{"jsCode":"// Normalize and validate content idea\nconst items = $input.all();\nlet idea = null;\n\nfor (const item of items) {\n  const data = item.json;\n  if (Array.isArray(data) && data.length > 0) {\n    idea = data[0];\n    break;\n  } else if (data && data.id) {\n    idea = data;\n    break;\n  }\n}\n\nif (!idea || !idea.id) {\n  return [{ json: { hasContent: false, message: 'No approved content found' } }];\n}\n\nreturn [{\n  json: {\n    hasContent: true,\n    content_idea_id: idea.id,\n    original_text: idea.original_text,\n    pillar: idea.pillar,\n    suggested_hook: idea.suggested_hook,\n    source_platform: idea.source_platform,\n    source_url: idea.source_url\n  }\n}];"},"id":"normalize-idea","name":"Normalize Idea","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-content","leftValue":"={{ $json.hasContent }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-has-content","name":"Has Content?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1160,200]},{"parameters":{},"id":"no-content-end","name":"No Content","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1380,380]},{"parameters":{"content":"## Script Generation\nGrok 4.1 creates viral script","height":140,"width":180,"color":5},"id":"note-script-gen","name":"Script Gen","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,520]},{"parameters":{"method":"PATCH","url":"=http://backend:8000/api/content-ideas/{{ $json.content_idea_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status\": \"script_generating\"\n}","options":{}},"id":"update-status-processing","name":"Update Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,680]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"HTTP-Referer","value":"http://100.83.153.43:5678"},{"name":"X-Title","value":"n8n-video-pipeline"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"x-ai/grok-4-1106\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a viral video scriptwriter for a real estate agent. Create engaging, authentic scripts optimized for short-form video (30-60 seconds).\\n\\nGUIDELINES:\\n- Start with a hook that stops scrollers in the first 3 seconds\\n- Use conversational, energetic tone\\n- Include ONE clear call-to-action\\n- Add natural pauses marked with [PAUSE]\\n- Mark emphasis with *asterisks*\\n- Keep sentences short and punchy\\n- Total length: 150-250 words\\n\\nPILLAR TONES:\\n- market_intelligence: Data-driven, authoritative, slightly urgent\\n- educational_tips: Helpful, encouraging, clear steps\\n- lifestyle_local: Warm, community-focused, storytelling\\n- brand_humanization: Personal, relatable, authentic\\n\\nRETURN JSON:\\n{\\n  \\\"hook\\\": \\\"First 3 seconds text\\\",\\n  \\\"script\\\": \\\"Full script with [PAUSE] and *emphasis* markers\\\",\\n  \\\"cta\\\": \\\"Call to action text\\\",\\n  \\\"estimated_duration_seconds\\\": 45,\\n  \\\"suggested_broll\\\": [\\\"scene description 1\\\", \\\"scene description 2\\\", \\\"scene description 3\\\"]\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a script based on this content idea:\\n\\nPillar: {{ $json.pillar }}\\nSuggested Hook: {{ $json.suggested_hook }}\\nOriginal Content: {{ $json.original_text.substring(0, 1500) }}\\nSource: {{ $json.source_platform }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}","options":{"timeout":60000}},"id":"generate-script-llm","name":"Generate Script (Grok)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,680],"credentials":{"httpHeaderAuth":{"id":"openrouter","name":"openrouter"}}},{"parameters":{"jsCode":"// Parse script from LLM response\nconst response = $input.first().json;\nconst prevData = $('Update Status').first().json;\n\ntry {\n  const content = response.choices[0].message.content;\n  const scriptData = JSON.parse(content);\n  \n  return [{\n    json: {\n      content_idea_id: prevData.id || $('Normalize Idea').first().json.content_idea_id,\n      hook: scriptData.hook,\n      script: scriptData.script,\n      cta: scriptData.cta,\n      estimated_duration: scriptData.estimated_duration_seconds || 45,\n      suggested_broll: scriptData.suggested_broll || [],\n      pillar: $('Normalize Idea').first().json.pillar\n    }\n  }];\n} catch (error) {\n  throw new Error(`Failed to parse script: ${error.message}`);\n}"},"id":"parse-script","name":"Parse Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,680]},{"parameters":{"method":"POST","url":"http://backend:8000/api/scripts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content_idea_id\": {{ $json.content_idea_id }},\n  \"hook\": {{ JSON.stringify($json.hook) }},\n  \"body\": {{ JSON.stringify($json.script || '') }},\n  \"cta\": {{ JSON.stringify($json.cta) }},\n  \"full_script\": {{ JSON.stringify($json.hook + ' ' + $json.script + ' ' + $json.cta) }},\n  \"duration_estimate\": {{ $json.estimated_duration || 45 }},\n  \"status\": \"script_ready\"\n}","options":{}},"id":"save-script","name":"Save Script","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,680]},{"parameters":{"method":"POST","url":"http://backend:8000/api/assets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"script_id\": {{ $json.id }},\n  \"status\": \"pending\"\n}","options":{}},"id":"create-asset-record","name":"Create Asset Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,680]},{"parameters":{"content":"## Get Video\nPexels B-roll search & download","height":140,"width":180,"color":6},"id":"note-get-video","name":"Get Video","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,880]},{"parameters":{"jsCode":"// Prepare B-roll search queries\nconst asset = $input.first().json;\nconst parseData = $('Parse Script').first().json;\nconst script = $('Save Script').first().json;\nconst suggestedBroll = parseData.suggested_broll || [];\n\n// Default searches if none provided\nconst defaultSearches = {\n  market_intelligence: ['real estate market', 'house exterior', 'city skyline aerial'],\n  educational_tips: ['home inspection', 'signing contract documents', 'house tour interior'],\n  lifestyle_local: ['neighborhood street', 'local coffee shop', 'park families'],\n  brand_humanization: ['business professional', 'handshake meeting', 'modern office']\n};\n\nconst pillar = parseData.pillar || 'educational_tips';\nconst searches = suggestedBroll.length > 0 ? suggestedBroll : defaultSearches[pillar];\n\nreturn searches.slice(0, 3).map((query, index) => ({\n  json: {\n    asset_id: asset.id,\n    script_id: script.id,\n    content_idea_id: parseData.content_idea_id,\n    scene_index: index,\n    search_query: query\n  }\n}));"},"id":"prepare-broll-searches","name":"Prepare B-Roll Searches","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,1040]},{"parameters":{"method":"GET","url":"=https://api.pexels.com/videos/search?query={{ encodeURIComponent($json.search_query) }}&per_page=3&orientation=portrait","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":30000}},"id":"search-pexels","name":"Search Pexels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1040],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"jsCode":"// Select best video from Pexels results\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const videos = item.json.videos || [];\n  const prevItem = $('Prepare B-Roll Searches').all().find(\n    p => p.json.scene_index === item.json.scene_index\n  ) || $('Prepare B-Roll Searches').first();\n  \n  if (videos.length === 0) {\n    results.push({\n      json: {\n        asset_id: prevItem.json.asset_id,\n        script_id: prevItem.json.script_id,\n        content_idea_id: prevItem.json.content_idea_id,\n        scene_index: prevItem.json.scene_index,\n        video_found: false\n      }\n    });\n    continue;\n  }\n  \n  const video = videos[0];\n  const videoFiles = video.video_files || [];\n  const selectedFile = videoFiles.find(f => f.quality === 'hd') || videoFiles[0];\n  \n  results.push({\n    json: {\n      asset_id: prevItem.json.asset_id,\n      script_id: prevItem.json.script_id,\n      content_idea_id: prevItem.json.content_idea_id,\n      scene_index: prevItem.json.scene_index,\n      video_found: true,\n      pexels_id: video.id,\n      video_url: selectedFile?.link,\n      duration: video.duration\n    }\n  });\n}\n\nreturn results;"},"id":"select-videos","name":"Select Videos","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,1040]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"video-found-check","leftValue":"={{ $json.video_found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-video-found","name":"Video Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,1040]},{"parameters":{"method":"GET","url":"={{ $json.video_url }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":120000}},"id":"download-broll","name":"Download B-Roll","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,1040]},{"parameters":{},"id":"skip-broll","name":"Skip B-Roll","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[940,1140]},{"parameters":{"operation":"write","fileName":"=/home/node/assets/videos/{{ $('Select Videos').first().json.script_id }}_scene{{ $('Select Videos').first().json.scene_index }}.mp4","options":{}},"id":"save-broll-file","name":"Save B-Roll","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1160,1040]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{"includeUnpaired":true}},"id":"merge-broll","name":"Merge B-Roll","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1380,1080]},{"parameters":{"content":"## Create Voice\nElevenLabs TTS + duration check","height":140,"width":180,"color":7},"id":"note-create-voice","name":"Create Voice","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1240]},{"parameters":{"jsCode":"// Aggregate B-roll results and prepare for voice generation\nconst items = $input.all();\nconst firstItem = $('Select Videos').first().json;\n\n// Get script and asset data\nconst scriptData = $('Save Script').first().json;\nconst assetData = $('Create Asset Record').first().json;\nconst parseData = $('Parse Script').first().json;\n\n// Clean script for TTS\nlet text = parseData.script || '';\ntext = text.replace(/\\[PAUSE\\]/gi, '...');\ntext = text.replace(/\\*(.*?)\\*/g, '$1');\ntext = text.replace(/\\s+/g, ' ').trim();\n\nif (parseData.cta) {\n  text = text + ' ... ' + parseData.cta;\n}\n\nreturn [{\n  json: {\n    asset_id: assetData.id,\n    script_id: scriptData.id,\n    content_idea_id: parseData.content_idea_id,\n    text_for_tts: text,\n    broll_paths: items.filter(i => i.json.fileName).map((i, idx) => \n      `/home/node/assets/videos/${scriptData.id}_scene${idx}.mp4`\n    )\n  }\n}];"},"id":"prepare-tts-text","name":"Prepare TTS Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,1400]},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/{{ $env.ELEVENLABS_VOICE_ID || '21m00Tcm4TlvDq8ikWAM' }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"audio/mpeg"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": {{ JSON.stringify($json.text_for_tts) }},\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75,\n    \"style\": 0.5,\n    \"use_speaker_boost\": true\n  }\n}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":120000}},"id":"generate-voice","name":"Generate Voice (ElevenLabs)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1400],"credentials":{"httpHeaderAuth":{"id":"elevenlabs","name":"elevenlabs"}}},{"parameters":{"operation":"write","fileName":"=/home/node/assets/audio/{{ $('Prepare TTS Text').first().json.script_id }}_voice.mp3","options":{}},"id":"save-voice-file","name":"Save Voice","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[500,1400]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst ttsData = $('Prepare TTS Text').first().json;\nconst audioPath = `/home/node/assets/audio/${ttsData.script_id}_voice.mp3`;\n\ntry {\n  const result = execSync(`ffprobe -v quiet -show_entries format=duration -of csv=p=0 \"${audioPath}\"`, { encoding: 'utf-8' });\n  return [{ json: { stdout: result.trim(), success: true } }];\n} catch (error) {\n  return [{ json: { stdout: '45', success: false, error: error.message } }];\n}"},"id":"get-voice-duration","name":"Get Duration","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,1400]},{"parameters":{"content":"## Create Avatar\nHeyGen lip-sync video generation","height":140,"width":180,"color":3},"id":"note-create-avatar","name":"Create Avatar","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1600]},{"parameters":{"jsCode":"// Parse duration and prepare for HeyGen\nconst durationResult = $input.first().json;\nconst ttsData = $('Prepare TTS Text').first().json;\n\nlet duration = 45;\ntry {\n  duration = parseFloat(durationResult.stdout.trim()) || 45;\n} catch (e) {}\n\nreturn [{\n  json: {\n    asset_id: ttsData.asset_id,\n    script_id: ttsData.script_id,\n    content_idea_id: ttsData.content_idea_id,\n    voice_path: `/home/node/assets/audio/${ttsData.script_id}_voice.mp3`,\n    duration_seconds: Math.round(duration * 10) / 10,\n    broll_paths: ttsData.broll_paths\n  }\n}];"},"id":"prepare-heygen-data","name":"Prepare HeyGen Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,1760]},{"parameters":{"method":"POST","url":"https://api.heygen.com/v2/video/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $env.HEYGEN_AVATAR_ID || 'Kristin_pubblic_3_20240108' }}\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"audio\",\n        \"audio_url\": \"{{ $env.N8N_PUBLIC_URL || 'http://100.83.153.43:5678' }}/webhook/serve-audio/{{ $json.script_id }}\"\n      },\n      \"background\": {\n        \"type\": \"color\",\n        \"value\": \"#00FF00\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1080,\n    \"height\": 1920\n  },\n  \"aspect_ratio\": \"9:16\"\n}","options":{"timeout":60000}},"id":"create-heygen-video","name":"Create HeyGen Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1760],"credentials":{"httpHeaderAuth":{"id":"heygen","name":"heygen"}}},{"parameters":{"jsCode":"// Extract HeyGen video ID and initialize retry counter\nconst response = $input.first().json;\nconst prevData = $('Prepare HeyGen Data').first().json;\n\nif (!response.data?.video_id) {\n  throw new Error(`HeyGen error: ${JSON.stringify(response)}`);\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    heygen_video_id: response.data.video_id,\n    retry_count: 0,\n    max_retries: 20\n  }\n}];"},"id":"extract-heygen-id","name":"Extract Video ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,1760]},{"parameters":{"amount":30,"unit":"seconds"},"id":"wait-heygen","name":"Wait 30s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[720,1760],"webhookId":"heygen-wait"},{"parameters":{"method":"GET","url":"=https://api.heygen.com/v1/video_status.get?video_id={{ $json.heygen_video_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"check-heygen-status","name":"Check Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,1760],"credentials":{"httpHeaderAuth":{"id":"heygen","name":"heygen"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-completed","leftValue":"={{ $json.data?.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-heygen-complete","name":"Completed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1160,1760]},{"parameters":{"jsCode":"// Increment retry counter and check max\nconst prevData = $('Extract Video ID').first().json;\nconst checkData = $input.first().json;\nconst retryCount = (prevData.retry_count || 0) + 1;\nconst maxRetries = prevData.max_retries || 20;\n\nif (retryCount > maxRetries) {\n  throw new Error(`HeyGen timeout: Video ${prevData.heygen_video_id} did not complete after ${maxRetries} retries (${maxRetries * 15 / 60} minutes). Last status: ${checkData.data?.status}`);\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    retry_count: retryCount,\n    last_status: checkData.data?.status\n  }\n}];"},"id":"increment-retry","name":"Increment Retry","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,1940]},{"parameters":{"amount":15,"unit":"seconds"},"id":"wait-retry","name":"Wait & Retry","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1380,1940],"webhookId":"heygen-retry"},{"parameters":{"method":"GET","url":"={{ $('Check Status').first().json.data.video_url }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":180000}},"id":"download-avatar","name":"Download Avatar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,1760]},{"parameters":{"operation":"write","fileName":"=/home/node/assets/avatar/{{ $('Extract Video ID').first().json.script_id }}_avatar.mp4","options":{}},"id":"save-avatar-file","name":"Save Avatar","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1600,1760]},{"parameters":{"content":"## Combine Videos + Music\nFFmpeg chromakey compositing","height":140,"width":180,"color":2},"id":"note-combine","name":"Combine Vids","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1960]},{"parameters":{"jsCode":"// Build FFmpeg command for video compositing\nconst prevData = $('Extract Video ID').first().json;\nconst scriptId = prevData.script_id;\n\nconst avatarPath = `/home/node/assets/avatar/${scriptId}_avatar.mp4`;\nconst brollPaths = prevData.broll_paths || [];\nconst outputPath = `/home/node/assets/output/${scriptId}_combined.mp4`;\n\n// Build FFmpeg filter complex\nlet inputs = `-i ${avatarPath}`;\nlet filterComplex = '';\n\nif (brollPaths.length > 0) {\n  // Add B-roll inputs\n  brollPaths.forEach(path => {\n    inputs += ` -i ${path}`;\n  });\n  \n  // Concat B-roll clips\n  const brollInputs = brollPaths.map((_, i) => `[${i + 1}:v]`).join('');\n  filterComplex = `${brollInputs}concat=n=${brollPaths.length}:v=1:a=0[broll];`;\n  filterComplex += `[broll]scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920[broll_scaled];`;\n  filterComplex += `[0:v]chromakey=0x00FF00:0.1:0.2[avatar_keyed];`;\n  filterComplex += `[broll_scaled][avatar_keyed]overlay=(W-w)/2:H-h-100:shortest=1[outv]`;\n} else {\n  // No B-roll - solid background\n  filterComplex = `[0:v]chromakey=0x00FF00:0.1:0.2[avatar_keyed];`;\n  filterComplex += `color=c=#1a1a2e:s=1080x1920:d=120[bg];`;\n  filterComplex += `[bg][avatar_keyed]overlay=(W-w)/2:H-h-100:shortest=1[outv]`;\n}\n\nconst ffmpegCmd = `ffmpeg -y ${inputs} -filter_complex \"${filterComplex}\" -map \"[outv]\" -map 0:a? -c:v libx264 -preset fast -crf 23 -c:a aac -b:a 128k -movflags +faststart ${outputPath}`;\n\nreturn [{\n  json: {\n    asset_id: prevData.asset_id,\n    script_id: scriptId,\n    content_idea_id: prevData.content_idea_id,\n    ffmpeg_command: ffmpegCmd,\n    output_path: outputPath\n  }\n}];"},"id":"build-ffmpeg-cmd","name":"Build FFmpeg Command","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,2120]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst ffmpegCmd = $input.first().json.ffmpeg_command;\n\ntry {\n  const result = execSync(ffmpegCmd, { encoding: 'utf-8', timeout: 300000 });\n  return [{ json: { stdout: result, exitCode: 0, success: true } }];\n} catch (error) {\n  if (error.status !== undefined) {\n    return [{ json: { stdout: error.stdout || '', stderr: error.stderr || '', exitCode: error.status, success: error.status === 0 } }];\n  }\n  return [{ json: { stdout: '', stderr: error.message, exitCode: 1, success: false } }];\n}"},"id":"run-ffmpeg-combine","name":"Run FFmpeg","type":"n8n-nodes-base.code","typeVersion":2,"position":[280,2120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ffmpeg-success","leftValue":"={{ $json.exitCode }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-ffmpeg-success","name":"Success?","type":"n8n-nodes-base.if","typeVersion":2,"position":[500,2120]},{"parameters":{"jsCode":"throw new Error(`FFmpeg failed: ${$input.first().json.stderr}`);"},"id":"handle-ffmpeg-error","name":"Handle Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,2300]},{"parameters":{"content":"## Caption\nGenerate SRT + burn captions with FFmpeg","height":140,"width":180,"color":1},"id":"note-caption","name":"Caption","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2320]},{"parameters":{"jsCode":"// Prepare data for Whisper transcription\nconst ffmpegData = $('Build FFmpeg Command').first().json;\nconst ttsData = $('Prepare TTS Text').first().json;\n\nreturn [{\n  json: {\n    asset_id: ffmpegData.asset_id,\n    script_id: ffmpegData.script_id,\n    content_idea_id: ffmpegData.content_idea_id,\n    combined_video_path: ffmpegData.output_path,\n    audio_path: `/home/node/assets/audio/${ffmpegData.script_id}_voice.mp3`\n  }\n}];"},"id":"prepare-whisper","name":"Prepare Whisper","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,2480]},{"parameters":{"operation":"read","fileSelector":"={{ $json.audio_path }}","options":{}},"id":"read-audio-for-whisper","name":"Read Audio for Whisper","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[280,2480]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[]},"contentType":"multipart-form-data","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"name":"response_format","value":"srt"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"timeout":120000}},"id":"whisper-transcribe","name":"Whisper Transcribe","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,2480],"credentials":{"httpHeaderAuth":{"id":"openai","name":"openai"}}},{"parameters":{"jsCode":"// Extract SRT content from Whisper response\nconst response = $input.first().json;\nconst prevData = $('Prepare Whisper').first().json;\n\n// Whisper returns SRT as plain text\nconst srtContent = typeof response === 'string' ? response : (response.text || response.data || JSON.stringify(response));\n\nreturn [{\n  json: {\n    asset_id: prevData.asset_id,\n    script_id: prevData.script_id,\n    content_idea_id: prevData.content_idea_id,\n    combined_video_path: prevData.combined_video_path,\n    srt_content: srtContent\n  }\n}];"},"id":"parse-whisper-response","name":"Parse Whisper Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,2480]},{"parameters":{"operation":"write","fileName":"=/home/node/assets/captions/{{ $json.script_id }}_captions.srt","dataPropertyName":"srt_content","options":{}},"id":"save-srt","name":"Save SRT","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[940,2480]},{"parameters":{"jsCode":"// Build FFmpeg caption burn command\nconst prevData = $('Parse Whisper Response').first().json;\nconst scriptId = prevData.script_id;\n\nconst inputPath = prevData.combined_video_path;\nconst srtPath = `/home/node/assets/captions/${scriptId}_captions.srt`;\nconst outputPath = `/home/node/assets/output/${scriptId}_final.mp4`;\n\n// Styled subtitles for social media\nconst subtitleFilter = `subtitles=${srtPath}:force_style='FontName=Arial,FontSize=28,PrimaryColour=&HFFFFFF,OutlineColour=&H000000,Outline=3,Shadow=1,Alignment=2,MarginV=80'`;\n\nconst ffmpegCmd = `ffmpeg -y -i ${inputPath} -vf \"${subtitleFilter}\" -c:v libx264 -preset fast -crf 23 -c:a copy ${outputPath}`;\n\nreturn [{\n  json: {\n    asset_id: prevData.asset_id,\n    script_id: scriptId,\n    content_idea_id: prevData.content_idea_id,\n    ffmpeg_command: ffmpegCmd,\n    final_video_path: outputPath\n  }\n}];"},"id":"build-caption-cmd","name":"Build Caption Cmd","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,2480]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst ffmpegCmd = $input.first().json.ffmpeg_command;\n\ntry {\n  const result = execSync(ffmpegCmd, { encoding: 'utf-8', timeout: 300000 });\n  return [{ json: { stdout: result, exitCode: 0, success: true } }];\n} catch (error) {\n  if (error.status !== undefined) {\n    return [{ json: { stdout: error.stdout || '', stderr: error.stderr || '', exitCode: error.status, success: error.status === 0 } }];\n  }\n  return [{ json: { stdout: '', stderr: error.message, exitCode: 1, success: false } }];\n}"},"id":"run-ffmpeg-caption","name":"Burn Captions","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,2480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"caption-success","leftValue":"={{ $json.exitCode }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-caption-success","name":"Caption Success?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1600,2480]},{"parameters":{"jsCode":"// Handle caption failure - update asset status and throw error\nconst captionData = $('Build Caption Cmd').first().json;\nconst errorMsg = $input.first().json.stderr || 'Caption burn failed';\n\nthrow new Error(`Caption failed for asset ${captionData.asset_id}: ${errorMsg}`);"},"id":"handle-caption-error","name":"Handle Caption Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,2660]},{"parameters":{"content":"## Publish\nBlotato multi-platform publishing","height":140,"width":180,"color":4},"id":"note-publish","name":"Publish","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2680]},{"parameters":{"jsCode":"// Prepare publishing data with platform-specific captions\nconst captionData = $('Build Caption Cmd').first().json;\nconst parseData = $('Parse Script').first().json;\n\nconst pillarHashtags = {\n  market_intelligence: ['#realestate', '#housingmarket', '#marketupdate', '#homeprices'],\n  educational_tips: ['#realestatetips', '#homebuying101', '#firsttimehomebuyer', '#realtortips'],\n  lifestyle_local: ['#localrealestate', '#dreamhome', '#neighborhoodguide', '#homesweethome'],\n  brand_humanization: ['#realtor', '#realtorlife', '#behindthescenes', '#realestateagent']\n};\n\nconst hashtags = pillarHashtags[parseData.pillar] || pillarHashtags.educational_tips;\nconst caption = `${parseData.hook}\\n\\n${parseData.cta}\\n\\n${hashtags.join(' ')}`;\n\nreturn [{\n  json: {\n    asset_id: captionData.asset_id,\n    script_id: captionData.script_id,\n    content_idea_id: captionData.content_idea_id,\n    final_video_path: captionData.final_video_path,\n    caption: caption,\n    platforms: ['tiktok', 'instagram', 'youtube_shorts']\n  }\n}];"},"id":"prepare-publish","name":"Prepare Publish Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,2840]},{"parameters":{"method":"POST","url":"https://api.blotato.com/v1/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"platforms\": {{ JSON.stringify($json.platforms) }},\n  \"content\": {\n    \"caption\": {{ JSON.stringify($json.caption) }},\n    \"video_url\": \"{{ $env.N8N_PUBLIC_URL || 'http://100.83.153.43:5678' }}/webhook/serve-video/{{ $json.script_id }}\"\n  },\n  \"schedule\": { \"type\": \"now\" },\n  \"options\": { \"auto_hashtags\": false, \"cross_post\": true }\n}","options":{"timeout":120000}},"id":"publish-blotato","name":"Publish (Blotato)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,2840],"credentials":{"httpHeaderAuth":{"id":"blotato","name":"blotato"}}},{"parameters":{"jsCode":"// Process publish response and map to individual platform columns\nconst response = $input.first().json;\nconst publishData = $('Prepare Publish Data').first().json;\n\nconst posts = response.posts || response.data?.posts || [];\n\n// Map platform posts to individual columns matching backend schema\nconst platformData = {\n  tiktok_url: null, tiktok_id: null,\n  ig_url: null, ig_id: null,\n  yt_url: null, yt_id: null,\n  linkedin_url: null, linkedin_id: null,\n  x_url: null, x_id: null,\n  facebook_url: null, facebook_id: null,\n  threads_url: null, threads_id: null,\n  pinterest_url: null, pinterest_id: null\n};\n\nposts.forEach(post => {\n  const platform = post.platform?.toLowerCase();\n  if (platform === 'tiktok') {\n    platformData.tiktok_url = post.url;\n    platformData.tiktok_id = post.id;\n  } else if (platform === 'instagram') {\n    platformData.ig_url = post.url;\n    platformData.ig_id = post.id;\n  } else if (platform === 'youtube' || platform === 'youtube_shorts') {\n    platformData.yt_url = post.url;\n    platformData.yt_id = post.id;\n  } else if (platform === 'linkedin') {\n    platformData.linkedin_url = post.url;\n    platformData.linkedin_id = post.id;\n  } else if (platform === 'twitter' || platform === 'x') {\n    platformData.x_url = post.url;\n    platformData.x_id = post.id;\n  } else if (platform === 'facebook') {\n    platformData.facebook_url = post.url;\n    platformData.facebook_id = post.id;\n  } else if (platform === 'threads') {\n    platformData.threads_url = post.url;\n    platformData.threads_id = post.id;\n  } else if (platform === 'pinterest') {\n    platformData.pinterest_url = post.url;\n    platformData.pinterest_id = post.id;\n  }\n});\n\nreturn [{\n  json: {\n    asset_id: publishData.asset_id,\n    content_idea_id: publishData.content_idea_id,\n    ...platformData,\n    published_at: new Date().toISOString()\n  }\n}];"},"id":"parse-publish-response","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,2840]},{"parameters":{"method":"POST","url":"http://backend:8000/api/published","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"asset_id\": {{ $json.asset_id }},\n  \"tiktok_url\": {{ JSON.stringify($json.tiktok_url) }},\n  \"tiktok_id\": {{ JSON.stringify($json.tiktok_id) }},\n  \"ig_url\": {{ JSON.stringify($json.ig_url) }},\n  \"ig_id\": {{ JSON.stringify($json.ig_id) }},\n  \"yt_url\": {{ JSON.stringify($json.yt_url) }},\n  \"yt_id\": {{ JSON.stringify($json.yt_id) }},\n  \"linkedin_url\": {{ JSON.stringify($json.linkedin_url) }},\n  \"linkedin_id\": {{ JSON.stringify($json.linkedin_id) }},\n  \"x_url\": {{ JSON.stringify($json.x_url) }},\n  \"x_id\": {{ JSON.stringify($json.x_id) }},\n  \"facebook_url\": {{ JSON.stringify($json.facebook_url) }},\n  \"facebook_id\": {{ JSON.stringify($json.facebook_id) }},\n  \"threads_url\": {{ JSON.stringify($json.threads_url) }},\n  \"threads_id\": {{ JSON.stringify($json.threads_id) }},\n  \"pinterest_url\": {{ JSON.stringify($json.pinterest_url) }},\n  \"pinterest_id\": {{ JSON.stringify($json.pinterest_id) }}\n}","options":{}},"id":"save-publish-record","name":"Save Publish Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,2840]},{"parameters":{"method":"PATCH","url":"=http://backend:8000/api/content-ideas/{{ $('Parse Response').first().json.content_idea_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"published\",\n  \"published_at\": {{ JSON.stringify($('Parse Response').first().json.published_at) }}\n}","options":{}},"id":"update-final-status","name":"Update Status Published","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,2840]},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Pipeline complete\", \"content_idea_id\": $('Parse Response').first().json.content_idea_id, \"published_at\": $('Parse Response').first().json.published_at } }}","options":{}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1160,2840]},{"parameters":{"content":"## File Server\nServe audio/video files to external APIs","height":140,"width":180,"color":0},"id":"note-file-server","name":"File Server","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1500,40]},{"parameters":{"httpMethod":"GET","path":"serve-audio/:script_id","responseMode":"responseNode","options":{}},"id":"webhook-serve-audio","name":"Serve Audio","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1560,200],"webhookId":"serve-audio"},{"parameters":{"operation":"read","fileSelector":"=/home/node/assets/audio/{{ $json.params.script_id }}_voice.mp3","options":{}},"id":"read-audio-file","name":"Read Audio","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1780,200]},{"parameters":{"respondWith":"binary","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"audio/mpeg"}]}}},"id":"respond-audio","name":"Return Audio","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2000,200]},{"parameters":{"httpMethod":"GET","path":"serve-video/:script_id","responseMode":"responseNode","options":{}},"id":"webhook-serve-video","name":"Serve Video","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1560,380],"webhookId":"serve-video"},{"parameters":{"operation":"read","fileSelector":"=/home/node/assets/output/{{ $json.params.script_id }}_final.mp4","options":{}},"id":"read-video-file","name":"Read Video","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1780,380]},{"parameters":{"respondWith":"binary","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"video/mp4"}]}}},"id":"respond-video","name":"Return Video","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2000,380]}],"connections":{"Daily 6am Scrape":{"main":[[{"node":"Parse Scrape Params","type":"main","index":0}]]},"Scrape Webhook":{"main":[[{"node":"Parse Scrape Params","type":"main","index":0}]]},"Parse Scrape Params":{"main":[[{"node":"TikTok?","type":"main","index":0},{"node":"Instagram?","type":"main","index":0},{"node":"YouTube?","type":"main","index":0}]]},"TikTok?":{"main":[[{"node":"Apify TikTok","type":"main","index":0}],[{"node":"Skip TikTok","type":"main","index":0}]]},"Instagram?":{"main":[[{"node":"Apify Instagram Reels","type":"main","index":0}],[{"node":"Skip Instagram","type":"main","index":0}]]},"YouTube?":{"main":[[{"node":"Apify YouTube","type":"main","index":0}],[{"node":"Skip YouTube","type":"main","index":0}]]},"Apify TikTok":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Apify Instagram Reels":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Apify YouTube":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip TikTok":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip Instagram":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip YouTube":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Merge Results":{"main":[[{"node":"Normalize Data","type":"main","index":0}]]},"Normalize Data":{"main":[[{"node":"Analyze with Grok","type":"main","index":0}]]},"Analyze with Grok":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Split Trends","type":"main","index":0}]]},"Split Trends":{"main":[[{"node":"Save Content Idea","type":"main","index":0}]]},"Save Content Idea":{"main":[[{"node":"Aggregate Saved","type":"main","index":0}]]},"Aggregate Saved":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Approved Idea","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Specific ID?","type":"main","index":0}]]},"Get Approved Idea":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Specific ID?":{"main":[[{"node":"Get Specific Idea","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Get Specific Idea":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Normalize Idea","type":"main","index":0}]]},"Normalize Idea":{"main":[[{"node":"Has Content?","type":"main","index":0}]]},"Has Content?":{"main":[[{"node":"Update Status","type":"main","index":0}],[{"node":"No Content","type":"main","index":0}]]},"Update Status":{"main":[[{"node":"Generate Script (Grok)","type":"main","index":0}]]},"Generate Script (Grok)":{"main":[[{"node":"Parse Script","type":"main","index":0}]]},"Parse Script":{"main":[[{"node":"Save Script","type":"main","index":0}]]},"Save Script":{"main":[[{"node":"Create Asset Record","type":"main","index":0}]]},"Create Asset Record":{"main":[[{"node":"Prepare B-Roll Searches","type":"main","index":0}]]},"Prepare B-Roll Searches":{"main":[[{"node":"Search Pexels","type":"main","index":0}]]},"Search Pexels":{"main":[[{"node":"Select Videos","type":"main","index":0}]]},"Select Videos":{"main":[[{"node":"Video Found?","type":"main","index":0}]]},"Video Found?":{"main":[[{"node":"Download B-Roll","type":"main","index":0}],[{"node":"Skip B-Roll","type":"main","index":0}]]},"Download B-Roll":{"main":[[{"node":"Save B-Roll","type":"main","index":0}]]},"Save B-Roll":{"main":[[{"node":"Merge B-Roll","type":"main","index":0}]]},"Skip B-Roll":{"main":[[{"node":"Merge B-Roll","type":"main","index":1}]]},"Merge B-Roll":{"main":[[{"node":"Prepare TTS Text","type":"main","index":0}]]},"Prepare TTS Text":{"main":[[{"node":"Generate Voice (ElevenLabs)","type":"main","index":0}]]},"Generate Voice (ElevenLabs)":{"main":[[{"node":"Save Voice","type":"main","index":0}]]},"Save Voice":{"main":[[{"node":"Get Duration","type":"main","index":0}]]},"Get Duration":{"main":[[{"node":"Prepare HeyGen Data","type":"main","index":0}]]},"Prepare HeyGen Data":{"main":[[{"node":"Create HeyGen Video","type":"main","index":0}]]},"Create HeyGen Video":{"main":[[{"node":"Extract Video ID","type":"main","index":0}]]},"Extract Video ID":{"main":[[{"node":"Wait 30s","type":"main","index":0}]]},"Wait 30s":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Completed?","type":"main","index":0}]]},"Completed?":{"main":[[{"node":"Download Avatar","type":"main","index":0}],[{"node":"Increment Retry","type":"main","index":0}]]},"Increment Retry":{"main":[[{"node":"Wait & Retry","type":"main","index":0}]]},"Wait & Retry":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Download Avatar":{"main":[[{"node":"Save Avatar","type":"main","index":0}]]},"Save Avatar":{"main":[[{"node":"Build FFmpeg Command","type":"main","index":0}]]},"Build FFmpeg Command":{"main":[[{"node":"Run FFmpeg","type":"main","index":0}]]},"Run FFmpeg":{"main":[[{"node":"Success?","type":"main","index":0}]]},"Success?":{"main":[[{"node":"Prepare Whisper","type":"main","index":0}],[{"node":"Handle Error","type":"main","index":0}]]},"Prepare Whisper":{"main":[[{"node":"Read Audio for Whisper","type":"main","index":0}]]},"Read Audio for Whisper":{"main":[[{"node":"Whisper Transcribe","type":"main","index":0}]]},"Whisper Transcribe":{"main":[[{"node":"Parse Whisper Response","type":"main","index":0}]]},"Parse Whisper Response":{"main":[[{"node":"Save SRT","type":"main","index":0}]]},"Save SRT":{"main":[[{"node":"Build Caption Cmd","type":"main","index":0}]]},"Build Caption Cmd":{"main":[[{"node":"Burn Captions","type":"main","index":0}]]},"Burn Captions":{"main":[[{"node":"Caption Success?","type":"main","index":0}]]},"Caption Success?":{"main":[[{"node":"Prepare Publish Data","type":"main","index":0}],[{"node":"Handle Caption Error","type":"main","index":0}]]},"Prepare Publish Data":{"main":[[{"node":"Publish (Blotato)","type":"main","index":0}]]},"Publish (Blotato)":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Save Publish Record","type":"main","index":0}]]},"Save Publish Record":{"main":[[{"node":"Update Status Published","type":"main","index":0}]]},"Update Status Published":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Serve Audio":{"main":[[{"node":"Read Audio","type":"main","index":0}]]},"Read Audio":{"main":[[{"node":"Return Audio","type":"main","index":0}]]},"Serve Video":{"main":[[{"node":"Read Video","type":"main","index":0}]]},"Read Video":{"main":[[{"node":"Return Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"2","activeVersionId":null,"versionCounter":2,"triggerCount":6,"tags":[],"shared":[{"updatedAt":"2026-01-07T01:24:15.389Z","createdAt":"2026-01-07T01:24:15.389Z","role":"workflow:owner","workflowId":"FPmtwiLpvcWFdrP0","projectId":"qCuD3VHIL5taTzsY","project":{"updatedAt":"2026-01-07T00:54:10.930Z","createdAt":"2026-01-07T00:53:52.808Z","id":"qCuD3VHIL5taTzsY","name":"Cameron Anderson <cameronsaddress@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"16c5cdbd-493c-4058-92b0-51725a196dcb"}}]},{"updatedAt":"2026-01-06T00:00:00.000Z","createdAt":"2026-01-07T01:42:22.795Z","id":"zPOhVFFwnrTdfeHo","name":"AI ContentGenerator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## 1. SCRAPE\nDiscover trending content from TikTok, Instagram, YouTube","height":160,"width":280,"color":7},"id":"note-scrape","name":"Scrape Section","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1600,-100]},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"scrape-schedule","name":"Daily 6am Scrape","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1560,60]},{"parameters":{"httpMethod":"POST","path":"scrape-trends","responseMode":"responseNode","options":{}},"id":"scrape-webhook","name":"Scrape Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1560,240],"webhookId":"scrape-trends"},{"parameters":{"jsCode":"// Parse incoming niche/platform parameters\nconst body = $input.first().json.body || $input.first().json;\n\n// Defaults\nconst niche = body.niche || 'real estate';\nconst hashtags = body.hashtags || ['realestate', 'realtor', 'homebuying', 'firsttimehomebuyer'];\nconst platforms = body.platforms || ['tiktok', 'instagram'];\nconst timeRange = body.time_range || '24h';\nconst resultsPerPlatform = body.results_per_platform || 20;\n\n// Build search terms from niche\nconst nicheTerms = niche.split(/[,;]+/).map(t => t.trim()).filter(t => t);\n\nreturn [{\n  json: {\n    niche,\n    nicheTerms,\n    hashtags,\n    platforms,\n    timeRange,\n    resultsPerPlatform,\n    scrapeStartedAt: new Date().toISOString()\n  }\n}];"},"id":"scrape-parse-params","name":"Parse Scrape Params","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1340,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"tiktok-check","leftValue":"={{ $json.platforms.includes('tiktok') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-tiktok","name":"TikTok?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,-40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"instagram-check","leftValue":"={{ $json.platforms.includes('instagram') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-instagram","name":"Instagram?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"youtube-check","leftValue":"={{ $json.platforms.includes('youtube') }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-youtube","name":"YouTube?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,360]},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/clockworks~tiktok-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"hashtags\": {{ JSON.stringify($('Parse Scrape Params').first().json.hashtags) }},\n  \"resultsPerPage\": {{ $('Parse Scrape Params').first().json.resultsPerPlatform }},\n  \"shouldDownloadVideos\": false,\n  \"shouldDownloadCovers\": false\n}","options":{"timeout":180000}},"id":"apify-tiktok","name":"Apify TikTok","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,-40],"credentials":{"httpHeaderAuth":{"id":"apify","name":"apify"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/apify~instagram-reel-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"hashtags\": {{ JSON.stringify($('Parse Scrape Params').first().json.hashtags) }},\n  \"resultsLimit\": {{ $('Parse Scrape Params').first().json.resultsPerPlatform }}\n}","options":{"timeout":180000}},"id":"apify-instagram","name":"Apify Instagram Reels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,160],"credentials":{"httpHeaderAuth":{"id":"apify","name":"apify"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/bernardo~youtube-scraper/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"searchKeywords\": {{ JSON.stringify($('Parse Scrape Params').first().json.nicheTerms) }},\n  \"maxResults\": {{ $('Parse Scrape Params').first().json.resultsPerPlatform }}\n}","options":{"timeout":180000}},"id":"apify-youtube","name":"Apify YouTube","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,360],"credentials":{"httpHeaderAuth":{"id":"apify","name":"apify"}}},{"parameters":{},"id":"skip-tiktok","name":"Skip TikTok","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-860,-140]},{"parameters":{},"id":"skip-instagram","name":"Skip Instagram","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-860,60]},{"parameters":{},"id":"skip-youtube","name":"Skip YouTube","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-860,260]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{"includeUnpaired":true}},"id":"scrape-merge","name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-600,160]},{"parameters":{"jsCode":"// Normalize scraped items from different platforms\nconst items = $input.all();\nconst params = $('Parse Scrape Params').first().json;\nconst normalized = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data || typeof data !== 'object') continue;\n  \n  // Skip empty arrays or merge placeholders\n  if (Array.isArray(data) && data.length === 0) continue;\n  \n  // TikTok format\n  if (data.webVideoUrl || data.videoUrl) {\n    normalized.push({\n      platform: 'tiktok',\n      url: data.webVideoUrl || data.videoUrl,\n      title: data.text || data.desc || '',\n      views: data.playCount || 0,\n      likes: data.diggCount || 0,\n      comments: data.commentCount || 0,\n      shares: data.shareCount || 0,\n      engagement: (data.diggCount || 0) + (data.commentCount || 0) + (data.shareCount || 0),\n      author: data.authorMeta?.name || data.author || '',\n      created: data.createTime || null,\n      thumbnail: data.covers?.default || data.videoMeta?.coverUrl || ''\n    });\n  }\n  // Instagram Reels format\n  else if (data.url && (data.url.includes('instagram') || data.type === 'Reel')) {\n    normalized.push({\n      platform: 'instagram',\n      url: data.url || data.inputUrl,\n      title: data.caption || data.text || '',\n      views: data.playCount || data.videoPlayCount || 0,\n      likes: data.likesCount || data.likes || 0,\n      comments: data.commentsCount || data.comments || 0,\n      shares: 0,\n      engagement: (data.likesCount || data.likes || 0) + (data.commentsCount || data.comments || 0),\n      author: data.ownerUsername || data.author || '',\n      created: data.timestamp || null,\n      thumbnail: data.displayUrl || data.thumbnail || ''\n    });\n  }\n  // YouTube format\n  else if (data.url && data.url.includes('youtube')) {\n    normalized.push({\n      platform: 'youtube',\n      url: data.url,\n      title: data.title || '',\n      views: data.viewCount || 0,\n      likes: data.likes || 0,\n      comments: data.comments || 0,\n      shares: 0,\n      engagement: (data.likes || 0) + (data.comments || 0),\n      author: data.channelName || data.author || '',\n      created: data.uploadDate || null,\n      thumbnail: data.thumbnailUrl || ''\n    });\n  }\n}\n\n// Sort by engagement (highest first)\nnormalized.sort((a, b) => b.engagement - a.engagement);\n\n// Add metadata\nconst output = {\n  niche: params.niche,\n  platforms: params.platforms,\n  scrapedAt: params.scrapeStartedAt,\n  totalResults: normalized.length,\n  results: normalized\n};\n\nreturn [{ json: output }];"},"id":"scrape-normalize","name":"Normalize Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,160]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"HTTP-Referer","value":"http://100.83.153.43:5678"},{"name":"X-Title","value":"n8n-trend-analyzer"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"x-ai/grok-4-1106\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You analyze trending social media content to find viral video ideas for a content creator.\\n\\nTarget niche: {{ $json.niche }}\\n\\nFor each piece of content, determine:\\n1. viral_score (1-10): How viral/engaging is this content?\\n2. pillar: One of: market_intelligence, educational_tips, lifestyle_local, brand_humanization\\n3. suggested_hook: A compelling hook to recreate this content\\n4. why_viral: Brief explanation of what makes it work\\n5. adaptable: true/false - Can this be adapted for the target niche?\\n\\nPILLAR DEFINITIONS:\\n- market_intelligence: Data, trends, market analysis, pricing, investment\\n- educational_tips: How-tos, tutorials, tips, process explanations\\n- lifestyle_local: Community, local events, lifestyle content\\n- brand_humanization: Personal stories, behind-the-scenes, relatable moments\\n\\nReturn JSON: { \\\"analyzed\\\": [{ \\\"url\\\", \\\"platform\\\", \\\"title\\\", \\\"views\\\", \\\"likes\\\", \\\"viral_score\\\", \\\"pillar\\\", \\\"suggested_hook\\\", \\\"why_viral\\\", \\\"adaptable\\\" }] }\\n\\nOnly include items with viral_score >= 6. Sort by viral_score descending.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze these {{ $json.totalResults }} trending items and identify the best content ideas:\\n\\n{{ JSON.stringify($json.results.slice(0, 30)) }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" }\n}","options":{"timeout":90000}},"id":"scrape-analyze-grok","name":"Analyze with Grok","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,160],"credentials":{"httpHeaderAuth":{"id":"openrouter","name":"openrouter"}}},{"parameters":{"jsCode":"// Parse LLM response and format for API/UI\nconst response = $input.first().json;\nconst normalizedData = $('Normalize Data').first().json;\n\ntry {\n  const content = response.choices[0].message.content;\n  const parsed = JSON.parse(content);\n  const items = parsed.analyzed || parsed.items || [];\n  \n  // Filter for viral_score >= 6 and adaptable = true\n  const filtered = items.filter(item => \n    item.viral_score >= 6 && item.adaptable !== false\n  );\n  \n  return [{\n    json: {\n      success: true,\n      niche: normalizedData.niche,\n      scrapedAt: normalizedData.scrapedAt,\n      totalScraped: normalizedData.totalResults,\n      analyzedCount: filtered.length,\n      trends: filtered\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      error: error.message,\n      niche: normalizedData.niche,\n      scrapedAt: normalizedData.scrapedAt,\n      totalScraped: normalizedData.totalResults,\n      analyzedCount: 0,\n      trends: []\n    }\n  }];\n}"},"id":"scrape-format-response","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,160]},{"parameters":{"jsCode":"// Split trends into individual items for saving\nconst data = $input.first().json;\nif (!data.success || !data.trends || data.trends.length === 0) {\n  return [{ json: { ...data, savedCount: 0 } }];\n}\n\n// Return each trend as a separate item\nreturn data.trends.map(trend => ({\n  json: {\n    ...trend,\n    niche: data.niche,\n    scrapedAt: data.scrapedAt\n  }\n}));"},"id":"scrape-split-trends","name":"Split Trends","type":"n8n-nodes-base.code","typeVersion":2,"position":[280,160]},{"parameters":{"method":"POST","url":"http://backend:8000/api/content-ideas","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source_url\": {{ JSON.stringify($json.url || '') }},\n  \"source_platform\": {{ JSON.stringify($json.platform || 'unknown') }},\n  \"original_text\": {{ JSON.stringify($json.title || '') }},\n  \"pillar\": {{ JSON.stringify($json.pillar || 'educational_tips') }},\n  \"viral_score\": {{ $json.viral_score || 7 }},\n  \"suggested_hook\": {{ JSON.stringify($json.suggested_hook || '') }},\n  \"why_viral\": {{ JSON.stringify($json.why_viral || '') }},\n  \"status\": \"pending\"\n}","options":{"batching":{"batch":{"batchSize":1,"batchInterval":100}}}},"id":"scrape-save-idea","name":"Save Content Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,160]},{"parameters":{"jsCode":"// Aggregate saved ideas and prepare response\nconst items = $input.all();\nconst formatData = $('Format Response').first().json;\nconst savedCount = items.filter(i => i.json.id).length;\n\nreturn [{\n  json: {\n    success: true,\n    niche: formatData.niche,\n    scrapedAt: formatData.scrapedAt,\n    totalScraped: formatData.totalScraped,\n    analyzedCount: formatData.analyzedCount,\n    savedCount: savedCount,\n    message: `Saved ${savedCount} content ideas to database`\n  }\n}];"},"id":"scrape-aggregate","name":"Aggregate Saved","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,160]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"scrape-respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[940,160]},{"parameters":{"content":"## 2. Auto Trigger\nSchedule (15min) + Webhook to start pipeline","height":140,"width":180,"color":4},"id":"note-auto-trigger","name":"Auto Trigger","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,40]},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1000,200]},{"parameters":{"httpMethod":"POST","path":"trigger-pipeline","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[60,380],"webhookId":"trigger-pipeline"},{"parameters":{"method":"GET","url":"http://backend:8000/api/content-ideas?status=approved&limit=1","options":{}},"id":"get-approved-idea","name":"Get Approved Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-specific-id","leftValue":"={{ $json.body?.content_idea_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if-specific-id","name":"Specific ID?","type":"n8n-nodes-base.if","typeVersion":2,"position":[280,380]},{"parameters":{"method":"GET","url":"=http://backend:8000/api/content-ideas/{{ $json.body.content_idea_id }}","options":{}},"id":"get-specific-idea","name":"Get Specific Idea","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,380]},{"parameters":{"mode":"combine","mergeByFields":{"values":[]},"options":{}},"id":"merge-idea-sources","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[720,200]},{"parameters":{"jsCode":"// Normalize and validate content idea\nconst items = $input.all();\nlet idea = null;\n\nfor (const item of items) {\n  const data = item.json;\n  if (Array.isArray(data) && data.length > 0) {\n    idea = data[0];\n    break;\n  } else if (data && data.id) {\n    idea = data;\n    break;\n  }\n}\n\nif (!idea || !idea.id) {\n  return [{ json: { hasContent: false, message: 'No approved content found' } }];\n}\n\nreturn [{\n  json: {\n    hasContent: true,\n    content_idea_id: idea.id,\n    original_text: idea.original_text,\n    pillar: idea.pillar,\n    suggested_hook: idea.suggested_hook,\n    source_platform: idea.source_platform,\n    source_url: idea.source_url\n  }\n}];"},"id":"normalize-idea","name":"Normalize Idea","type":"n8n-nodes-base.code","typeVersion":2,"position":[940,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-content","leftValue":"={{ $json.hasContent }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-has-content","name":"Has Content?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1160,200]},{"parameters":{},"id":"no-content-end","name":"No Content","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1380,380]},{"parameters":{"content":"## Script Generation\nGrok 4.1 creates viral script","height":140,"width":180,"color":5},"id":"note-script-gen","name":"Script Gen","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,520]},{"parameters":{"method":"PATCH","url":"=http://backend:8000/api/content-ideas/{{ $json.content_idea_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status\": \"script_generating\"\n}","options":{}},"id":"update-status-processing","name":"Update Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,680]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"HTTP-Referer","value":"http://100.83.153.43:5678"},{"name":"X-Title","value":"n8n-video-pipeline"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"x-ai/grok-4-1106\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a viral video scriptwriter for a real estate agent. Create engaging, authentic scripts optimized for short-form video (30-60 seconds).\\n\\nGUIDELINES:\\n- Start with a hook that stops scrollers in the first 3 seconds\\n- Use conversational, energetic tone\\n- Include ONE clear call-to-action\\n- Add natural pauses marked with [PAUSE]\\n- Mark emphasis with *asterisks*\\n- Keep sentences short and punchy\\n- Total length: 150-250 words\\n\\nPILLAR TONES:\\n- market_intelligence: Data-driven, authoritative, slightly urgent\\n- educational_tips: Helpful, encouraging, clear steps\\n- lifestyle_local: Warm, community-focused, storytelling\\n- brand_humanization: Personal, relatable, authentic\\n\\nRETURN JSON:\\n{\\n  \\\"hook\\\": \\\"First 3 seconds text\\\",\\n  \\\"script\\\": \\\"Full script with [PAUSE] and *emphasis* markers\\\",\\n  \\\"cta\\\": \\\"Call to action text\\\",\\n  \\\"estimated_duration_seconds\\\": 45,\\n  \\\"suggested_broll\\\": [\\\"scene description 1\\\", \\\"scene description 2\\\", \\\"scene description 3\\\"]\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a script based on this content idea:\\n\\nPillar: {{ $json.pillar }}\\nSuggested Hook: {{ $json.suggested_hook }}\\nOriginal Content: {{ $json.original_text.substring(0, 1500) }}\\nSource: {{ $json.source_platform }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}","options":{"timeout":60000}},"id":"generate-script-llm","name":"Generate Script (Grok)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,680],"credentials":{"httpHeaderAuth":{"id":"openrouter","name":"openrouter"}}},{"parameters":{"jsCode":"// Parse script from LLM response\nconst response = $input.first().json;\nconst prevData = $('Update Status').first().json;\n\ntry {\n  const content = response.choices[0].message.content;\n  const scriptData = JSON.parse(content);\n  \n  return [{\n    json: {\n      content_idea_id: prevData.id || $('Normalize Idea').first().json.content_idea_id,\n      hook: scriptData.hook,\n      script: scriptData.script,\n      cta: scriptData.cta,\n      estimated_duration: scriptData.estimated_duration_seconds || 45,\n      suggested_broll: scriptData.suggested_broll || [],\n      pillar: $('Normalize Idea').first().json.pillar\n    }\n  }];\n} catch (error) {\n  throw new Error(`Failed to parse script: ${error.message}`);\n}"},"id":"parse-script","name":"Parse Script","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,680]},{"parameters":{"method":"POST","url":"http://backend:8000/api/scripts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"content_idea_id\": {{ $json.content_idea_id }},\n  \"hook\": {{ JSON.stringify($json.hook) }},\n  \"body\": {{ JSON.stringify($json.script || '') }},\n  \"cta\": {{ JSON.stringify($json.cta) }},\n  \"full_script\": {{ JSON.stringify($json.hook + ' ' + $json.script + ' ' + $json.cta) }},\n  \"duration_estimate\": {{ $json.estimated_duration || 45 }},\n  \"status\": \"script_ready\"\n}","options":{}},"id":"save-script","name":"Save Script","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,680]},{"parameters":{"method":"POST","url":"http://backend:8000/api/assets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"script_id\": {{ $json.id }},\n  \"status\": \"pending\"\n}","options":{}},"id":"create-asset-record","name":"Create Asset Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,680]},{"parameters":{"content":"## Get Video\nPexels B-roll search & download","height":140,"width":180,"color":6},"id":"note-get-video","name":"Get Video","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,880]},{"parameters":{"jsCode":"// Prepare B-roll search queries\nconst asset = $input.first().json;\nconst parseData = $('Parse Script').first().json;\nconst script = $('Save Script').first().json;\nconst suggestedBroll = parseData.suggested_broll || [];\n\n// Default searches if none provided\nconst defaultSearches = {\n  market_intelligence: ['real estate market', 'house exterior', 'city skyline aerial'],\n  educational_tips: ['home inspection', 'signing contract documents', 'house tour interior'],\n  lifestyle_local: ['neighborhood street', 'local coffee shop', 'park families'],\n  brand_humanization: ['business professional', 'handshake meeting', 'modern office']\n};\n\nconst pillar = parseData.pillar || 'educational_tips';\nconst searches = suggestedBroll.length > 0 ? suggestedBroll : defaultSearches[pillar];\n\nreturn searches.slice(0, 3).map((query, index) => ({\n  json: {\n    asset_id: asset.id,\n    script_id: script.id,\n    content_idea_id: parseData.content_idea_id,\n    scene_index: index,\n    search_query: query\n  }\n}));"},"id":"prepare-broll-searches","name":"Prepare B-Roll Searches","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,1040]},{"parameters":{"method":"GET","url":"=https://api.pexels.com/videos/search?query={{ encodeURIComponent($json.search_query) }}&per_page=3&orientation=portrait","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"timeout":30000}},"id":"search-pexels","name":"Search Pexels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1040],"credentials":{"httpHeaderAuth":{"id":"pexels","name":"pexels"}}},{"parameters":{"jsCode":"// Select best video from Pexels results\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const videos = item.json.videos || [];\n  const prevItem = $('Prepare B-Roll Searches').all().find(\n    p => p.json.scene_index === item.json.scene_index\n  ) || $('Prepare B-Roll Searches').first();\n  \n  if (videos.length === 0) {\n    results.push({\n      json: {\n        asset_id: prevItem.json.asset_id,\n        script_id: prevItem.json.script_id,\n        content_idea_id: prevItem.json.content_idea_id,\n        scene_index: prevItem.json.scene_index,\n        video_found: false\n      }\n    });\n    continue;\n  }\n  \n  const video = videos[0];\n  const videoFiles = video.video_files || [];\n  const selectedFile = videoFiles.find(f => f.quality === 'hd') || videoFiles[0];\n  \n  results.push({\n    json: {\n      asset_id: prevItem.json.asset_id,\n      script_id: prevItem.json.script_id,\n      content_idea_id: prevItem.json.content_idea_id,\n      scene_index: prevItem.json.scene_index,\n      video_found: true,\n      pexels_id: video.id,\n      video_url: selectedFile?.link,\n      duration: video.duration\n    }\n  });\n}\n\nreturn results;"},"id":"select-videos","name":"Select Videos","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,1040]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"video-found-check","leftValue":"={{ $json.video_found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-video-found","name":"Video Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[720,1040]},{"parameters":{"method":"GET","url":"={{ $json.video_url }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":120000}},"id":"download-broll","name":"Download B-Roll","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,1040]},{"parameters":{},"id":"skip-broll","name":"Skip B-Roll","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[940,1140]},{"parameters":{"operation":"write","fileName":"=/home/node/assets/videos/{{ $('Select Videos').first().json.script_id }}_scene{{ $('Select Videos').first().json.scene_index }}.mp4","options":{}},"id":"save-broll-file","name":"Save B-Roll","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1160,1040]},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{"includeUnpaired":true}},"id":"merge-broll","name":"Merge B-Roll","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1380,1080]},{"parameters":{"content":"## Create Voice\nElevenLabs TTS + duration check","height":140,"width":180,"color":7},"id":"note-create-voice","name":"Create Voice","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1240]},{"parameters":{"jsCode":"// Aggregate B-roll results and prepare for voice generation\nconst items = $input.all();\nconst firstItem = $('Select Videos').first().json;\n\n// Get script and asset data\nconst scriptData = $('Save Script').first().json;\nconst assetData = $('Create Asset Record').first().json;\nconst parseData = $('Parse Script').first().json;\n\n// Clean script for TTS\nlet text = parseData.script || '';\ntext = text.replace(/\\[PAUSE\\]/gi, '...');\ntext = text.replace(/\\*(.*?)\\*/g, '$1');\ntext = text.replace(/\\s+/g, ' ').trim();\n\nif (parseData.cta) {\n  text = text + ' ... ' + parseData.cta;\n}\n\nreturn [{\n  json: {\n    asset_id: assetData.id,\n    script_id: scriptData.id,\n    content_idea_id: parseData.content_idea_id,\n    text_for_tts: text,\n    broll_paths: items.filter(i => i.json.fileName).map((i, idx) => \n      `/home/node/assets/videos/${scriptData.id}_scene${idx}.mp4`\n    )\n  }\n}];"},"id":"prepare-tts-text","name":"Prepare TTS Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,1400]},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/{{ $env.ELEVENLABS_VOICE_ID || '21m00Tcm4TlvDq8ikWAM' }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"audio/mpeg"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"text\": {{ JSON.stringify($json.text_for_tts) }},\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.75,\n    \"style\": 0.5,\n    \"use_speaker_boost\": true\n  }\n}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":120000}},"id":"generate-voice","name":"Generate Voice (ElevenLabs)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1400],"credentials":{"httpHeaderAuth":{"id":"elevenlabs","name":"elevenlabs"}}},{"parameters":{"operation":"write","fileName":"=/home/node/assets/audio/{{ $('Prepare TTS Text').first().json.script_id }}_voice.mp3","options":{}},"id":"save-voice-file","name":"Save Voice","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[500,1400]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst ttsData = $('Prepare TTS Text').first().json;\nconst audioPath = `/home/node/assets/audio/${ttsData.script_id}_voice.mp3`;\n\ntry {\n  const result = execSync(`ffprobe -v quiet -show_entries format=duration -of csv=p=0 \"${audioPath}\"`, { encoding: 'utf-8' });\n  return [{ json: { stdout: result.trim(), success: true } }];\n} catch (error) {\n  return [{ json: { stdout: '45', success: false, error: error.message } }];\n}"},"id":"get-voice-duration","name":"Get Duration","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,1400]},{"parameters":{"content":"## Create Avatar\nHeyGen lip-sync video generation","height":140,"width":180,"color":3},"id":"note-create-avatar","name":"Create Avatar","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1600]},{"parameters":{"jsCode":"// Parse duration and prepare for HeyGen\nconst durationResult = $input.first().json;\nconst ttsData = $('Prepare TTS Text').first().json;\n\nlet duration = 45;\ntry {\n  duration = parseFloat(durationResult.stdout.trim()) || 45;\n} catch (e) {}\n\nreturn [{\n  json: {\n    asset_id: ttsData.asset_id,\n    script_id: ttsData.script_id,\n    content_idea_id: ttsData.content_idea_id,\n    voice_path: `/home/node/assets/audio/${ttsData.script_id}_voice.mp3`,\n    duration_seconds: Math.round(duration * 10) / 10,\n    broll_paths: ttsData.broll_paths\n  }\n}];"},"id":"prepare-heygen-data","name":"Prepare HeyGen Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,1760]},{"parameters":{"method":"POST","url":"https://api.heygen.com/v2/video/generate","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $env.HEYGEN_AVATAR_ID || 'Kristin_pubblic_3_20240108' }}\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"audio\",\n        \"audio_url\": \"{{ $env.N8N_PUBLIC_URL || 'http://100.83.153.43:5678' }}/webhook/serve-audio/{{ $json.script_id }}\"\n      },\n      \"background\": {\n        \"type\": \"color\",\n        \"value\": \"#00FF00\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1080,\n    \"height\": 1920\n  },\n  \"aspect_ratio\": \"9:16\"\n}","options":{"timeout":60000}},"id":"create-heygen-video","name":"Create HeyGen Video","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,1760],"credentials":{"httpHeaderAuth":{"id":"heygen","name":"heygen"}}},{"parameters":{"jsCode":"// Extract HeyGen video ID and initialize retry counter\nconst response = $input.first().json;\nconst prevData = $('Prepare HeyGen Data').first().json;\n\nif (!response.data?.video_id) {\n  throw new Error(`HeyGen error: ${JSON.stringify(response)}`);\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    heygen_video_id: response.data.video_id,\n    retry_count: 0,\n    max_retries: 20\n  }\n}];"},"id":"extract-heygen-id","name":"Extract Video ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,1760]},{"parameters":{"amount":30,"unit":"seconds"},"id":"wait-heygen","name":"Wait 30s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[720,1760],"webhookId":"heygen-wait"},{"parameters":{"method":"GET","url":"=https://api.heygen.com/v1/video_status.get?video_id={{ $json.heygen_video_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"check-heygen-status","name":"Check Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,1760],"credentials":{"httpHeaderAuth":{"id":"heygen","name":"heygen"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-completed","leftValue":"={{ $json.data?.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-heygen-complete","name":"Completed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1160,1760]},{"parameters":{"jsCode":"// Increment retry counter and check max\nconst prevData = $('Extract Video ID').first().json;\nconst checkData = $input.first().json;\nconst retryCount = (prevData.retry_count || 0) + 1;\nconst maxRetries = prevData.max_retries || 20;\n\nif (retryCount > maxRetries) {\n  throw new Error(`HeyGen timeout: Video ${prevData.heygen_video_id} did not complete after ${maxRetries} retries (${maxRetries * 15 / 60} minutes). Last status: ${checkData.data?.status}`);\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    retry_count: retryCount,\n    last_status: checkData.data?.status\n  }\n}];"},"id":"increment-retry","name":"Increment Retry","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,1940]},{"parameters":{"amount":15,"unit":"seconds"},"id":"wait-retry","name":"Wait & Retry","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1380,1940],"webhookId":"heygen-retry"},{"parameters":{"method":"GET","url":"={{ $('Check Status').first().json.data.video_url }}","options":{"response":{"response":{"responseFormat":"file"}},"timeout":180000}},"id":"download-avatar","name":"Download Avatar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1380,1760]},{"parameters":{"operation":"write","fileName":"=/home/node/assets/avatar/{{ $('Extract Video ID').first().json.script_id }}_avatar.mp4","options":{}},"id":"save-avatar-file","name":"Save Avatar","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1600,1760]},{"parameters":{"content":"## Combine Videos + Music\nFFmpeg chromakey compositing","height":140,"width":180,"color":2},"id":"note-combine","name":"Combine Vids","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1960]},{"parameters":{"jsCode":"// Build FFmpeg command for video compositing\nconst prevData = $('Extract Video ID').first().json;\nconst scriptId = prevData.script_id;\n\nconst avatarPath = `/home/node/assets/avatar/${scriptId}_avatar.mp4`;\nconst brollPaths = prevData.broll_paths || [];\nconst outputPath = `/home/node/assets/output/${scriptId}_combined.mp4`;\n\n// Build FFmpeg filter complex\nlet inputs = `-i ${avatarPath}`;\nlet filterComplex = '';\n\nif (brollPaths.length > 0) {\n  // Add B-roll inputs\n  brollPaths.forEach(path => {\n    inputs += ` -i ${path}`;\n  });\n  \n  // Concat B-roll clips\n  const brollInputs = brollPaths.map((_, i) => `[${i + 1}:v]`).join('');\n  filterComplex = `${brollInputs}concat=n=${brollPaths.length}:v=1:a=0[broll];`;\n  filterComplex += `[broll]scale=1080:1920:force_original_aspect_ratio=increase,crop=1080:1920[broll_scaled];`;\n  filterComplex += `[0:v]chromakey=0x00FF00:0.1:0.2[avatar_keyed];`;\n  filterComplex += `[broll_scaled][avatar_keyed]overlay=(W-w)/2:H-h-100:shortest=1[outv]`;\n} else {\n  // No B-roll - solid background\n  filterComplex = `[0:v]chromakey=0x00FF00:0.1:0.2[avatar_keyed];`;\n  filterComplex += `color=c=#1a1a2e:s=1080x1920:d=120[bg];`;\n  filterComplex += `[bg][avatar_keyed]overlay=(W-w)/2:H-h-100:shortest=1[outv]`;\n}\n\nconst ffmpegCmd = `ffmpeg -y ${inputs} -filter_complex \"${filterComplex}\" -map \"[outv]\" -map 0:a? -c:v libx264 -preset fast -crf 23 -c:a aac -b:a 128k -movflags +faststart ${outputPath}`;\n\nreturn [{\n  json: {\n    asset_id: prevData.asset_id,\n    script_id: scriptId,\n    content_idea_id: prevData.content_idea_id,\n    ffmpeg_command: ffmpegCmd,\n    output_path: outputPath\n  }\n}];"},"id":"build-ffmpeg-cmd","name":"Build FFmpeg Command","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,2120]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst ffmpegCmd = $input.first().json.ffmpeg_command;\n\ntry {\n  const result = execSync(ffmpegCmd, { encoding: 'utf-8', timeout: 300000 });\n  return [{ json: { stdout: result, exitCode: 0, success: true } }];\n} catch (error) {\n  if (error.status !== undefined) {\n    return [{ json: { stdout: error.stdout || '', stderr: error.stderr || '', exitCode: error.status, success: error.status === 0 } }];\n  }\n  return [{ json: { stdout: '', stderr: error.message, exitCode: 1, success: false } }];\n}"},"id":"run-ffmpeg-combine","name":"Run FFmpeg","type":"n8n-nodes-base.code","typeVersion":2,"position":[280,2120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ffmpeg-success","leftValue":"={{ $json.exitCode }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-ffmpeg-success","name":"Success?","type":"n8n-nodes-base.if","typeVersion":2,"position":[500,2120]},{"parameters":{"jsCode":"throw new Error(`FFmpeg failed: ${$input.first().json.stderr}`);"},"id":"handle-ffmpeg-error","name":"Handle Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,2300]},{"parameters":{"content":"## Caption\nGenerate SRT + burn captions with FFmpeg","height":140,"width":180,"color":1},"id":"note-caption","name":"Caption","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2320]},{"parameters":{"jsCode":"// Prepare data for Whisper transcription\nconst ffmpegData = $('Build FFmpeg Command').first().json;\nconst ttsData = $('Prepare TTS Text').first().json;\n\nreturn [{\n  json: {\n    asset_id: ffmpegData.asset_id,\n    script_id: ffmpegData.script_id,\n    content_idea_id: ffmpegData.content_idea_id,\n    combined_video_path: ffmpegData.output_path,\n    audio_path: `/home/node/assets/audio/${ffmpegData.script_id}_voice.mp3`\n  }\n}];"},"id":"prepare-whisper","name":"Prepare Whisper","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,2480]},{"parameters":{"operation":"read","fileSelector":"={{ $json.audio_path }}","options":{}},"id":"read-audio-for-whisper","name":"Read Audio for Whisper","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[280,2480]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[]},"contentType":"multipart-form-data","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"name":"response_format","value":"srt"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"timeout":120000}},"id":"whisper-transcribe","name":"Whisper Transcribe","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[500,2480],"credentials":{"httpHeaderAuth":{"id":"openai","name":"openai"}}},{"parameters":{"jsCode":"// Extract SRT content from Whisper response\nconst response = $input.first().json;\nconst prevData = $('Prepare Whisper').first().json;\n\n// Whisper returns SRT as plain text\nconst srtContent = typeof response === 'string' ? response : (response.text || response.data || JSON.stringify(response));\n\nreturn [{\n  json: {\n    asset_id: prevData.asset_id,\n    script_id: prevData.script_id,\n    content_idea_id: prevData.content_idea_id,\n    combined_video_path: prevData.combined_video_path,\n    srt_content: srtContent\n  }\n}];"},"id":"parse-whisper-response","name":"Parse Whisper Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,2480]},{"parameters":{"operation":"write","fileName":"=/home/node/assets/captions/{{ $json.script_id }}_captions.srt","dataPropertyName":"srt_content","options":{}},"id":"save-srt","name":"Save SRT","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[940,2480]},{"parameters":{"jsCode":"// Build FFmpeg caption burn command\nconst prevData = $('Parse Whisper Response').first().json;\nconst scriptId = prevData.script_id;\n\nconst inputPath = prevData.combined_video_path;\nconst srtPath = `/home/node/assets/captions/${scriptId}_captions.srt`;\nconst outputPath = `/home/node/assets/output/${scriptId}_final.mp4`;\n\n// Styled subtitles for social media\nconst subtitleFilter = `subtitles=${srtPath}:force_style='FontName=Arial,FontSize=28,PrimaryColour=&HFFFFFF,OutlineColour=&H000000,Outline=3,Shadow=1,Alignment=2,MarginV=80'`;\n\nconst ffmpegCmd = `ffmpeg -y -i ${inputPath} -vf \"${subtitleFilter}\" -c:v libx264 -preset fast -crf 23 -c:a copy ${outputPath}`;\n\nreturn [{\n  json: {\n    asset_id: prevData.asset_id,\n    script_id: scriptId,\n    content_idea_id: prevData.content_idea_id,\n    ffmpeg_command: ffmpegCmd,\n    final_video_path: outputPath\n  }\n}];"},"id":"build-caption-cmd","name":"Build Caption Cmd","type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,2480]},{"parameters":{"jsCode":"const { execSync } = require('child_process');\nconst ffmpegCmd = $input.first().json.ffmpeg_command;\n\ntry {\n  const result = execSync(ffmpegCmd, { encoding: 'utf-8', timeout: 300000 });\n  return [{ json: { stdout: result, exitCode: 0, success: true } }];\n} catch (error) {\n  if (error.status !== undefined) {\n    return [{ json: { stdout: error.stdout || '', stderr: error.stderr || '', exitCode: error.status, success: error.status === 0 } }];\n  }\n  return [{ json: { stdout: '', stderr: error.message, exitCode: 1, success: false } }];\n}"},"id":"run-ffmpeg-caption","name":"Burn Captions","type":"n8n-nodes-base.code","typeVersion":2,"position":[1380,2480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"caption-success","leftValue":"={{ $json.exitCode }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-caption-success","name":"Caption Success?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1600,2480]},{"parameters":{"jsCode":"// Handle caption failure - update asset status and throw error\nconst captionData = $('Build Caption Cmd').first().json;\nconst errorMsg = $input.first().json.stderr || 'Caption burn failed';\n\nthrow new Error(`Caption failed for asset ${captionData.asset_id}: ${errorMsg}`);"},"id":"handle-caption-error","name":"Handle Caption Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,2660]},{"parameters":{"content":"## Publish\nBlotato multi-platform publishing","height":140,"width":180,"color":4},"id":"note-publish","name":"Publish","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,2680]},{"parameters":{"jsCode":"// Prepare publishing data with platform-specific captions\nconst captionData = $('Build Caption Cmd').first().json;\nconst parseData = $('Parse Script').first().json;\n\nconst pillarHashtags = {\n  market_intelligence: ['#realestate', '#housingmarket', '#marketupdate', '#homeprices'],\n  educational_tips: ['#realestatetips', '#homebuying101', '#firsttimehomebuyer', '#realtortips'],\n  lifestyle_local: ['#localrealestate', '#dreamhome', '#neighborhoodguide', '#homesweethome'],\n  brand_humanization: ['#realtor', '#realtorlife', '#behindthescenes', '#realestateagent']\n};\n\nconst hashtags = pillarHashtags[parseData.pillar] || pillarHashtags.educational_tips;\nconst caption = `${parseData.hook}\\n\\n${parseData.cta}\\n\\n${hashtags.join(' ')}`;\n\nreturn [{\n  json: {\n    asset_id: captionData.asset_id,\n    script_id: captionData.script_id,\n    content_idea_id: captionData.content_idea_id,\n    final_video_path: captionData.final_video_path,\n    caption: caption,\n    platforms: ['tiktok', 'instagram', 'youtube_shorts']\n  }\n}];"},"id":"prepare-publish","name":"Prepare Publish Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[60,2840]},{"parameters":{"method":"POST","url":"https://api.blotato.com/v1/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"platforms\": {{ JSON.stringify($json.platforms) }},\n  \"content\": {\n    \"caption\": {{ JSON.stringify($json.caption) }},\n    \"video_url\": \"{{ $env.N8N_PUBLIC_URL || 'http://100.83.153.43:5678' }}/webhook/serve-video/{{ $json.script_id }}\"\n  },\n  \"schedule\": { \"type\": \"now\" },\n  \"options\": { \"auto_hashtags\": false, \"cross_post\": true }\n}","options":{"timeout":120000}},"id":"publish-blotato","name":"Publish (Blotato)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,2840],"credentials":{"httpHeaderAuth":{"id":"blotato","name":"blotato"}}},{"parameters":{"jsCode":"// Process publish response and map to individual platform columns\nconst response = $input.first().json;\nconst publishData = $('Prepare Publish Data').first().json;\n\nconst posts = response.posts || response.data?.posts || [];\n\n// Map platform posts to individual columns matching backend schema\nconst platformData = {\n  tiktok_url: null, tiktok_id: null,\n  ig_url: null, ig_id: null,\n  yt_url: null, yt_id: null,\n  linkedin_url: null, linkedin_id: null,\n  x_url: null, x_id: null,\n  facebook_url: null, facebook_id: null,\n  threads_url: null, threads_id: null,\n  pinterest_url: null, pinterest_id: null\n};\n\nposts.forEach(post => {\n  const platform = post.platform?.toLowerCase();\n  if (platform === 'tiktok') {\n    platformData.tiktok_url = post.url;\n    platformData.tiktok_id = post.id;\n  } else if (platform === 'instagram') {\n    platformData.ig_url = post.url;\n    platformData.ig_id = post.id;\n  } else if (platform === 'youtube' || platform === 'youtube_shorts') {\n    platformData.yt_url = post.url;\n    platformData.yt_id = post.id;\n  } else if (platform === 'linkedin') {\n    platformData.linkedin_url = post.url;\n    platformData.linkedin_id = post.id;\n  } else if (platform === 'twitter' || platform === 'x') {\n    platformData.x_url = post.url;\n    platformData.x_id = post.id;\n  } else if (platform === 'facebook') {\n    platformData.facebook_url = post.url;\n    platformData.facebook_id = post.id;\n  } else if (platform === 'threads') {\n    platformData.threads_url = post.url;\n    platformData.threads_id = post.id;\n  } else if (platform === 'pinterest') {\n    platformData.pinterest_url = post.url;\n    platformData.pinterest_id = post.id;\n  }\n});\n\nreturn [{\n  json: {\n    asset_id: publishData.asset_id,\n    content_idea_id: publishData.content_idea_id,\n    ...platformData,\n    published_at: new Date().toISOString()\n  }\n}];"},"id":"parse-publish-response","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,2840]},{"parameters":{"method":"POST","url":"http://backend:8000/api/published","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"asset_id\": {{ $json.asset_id }},\n  \"tiktok_url\": {{ JSON.stringify($json.tiktok_url) }},\n  \"tiktok_id\": {{ JSON.stringify($json.tiktok_id) }},\n  \"ig_url\": {{ JSON.stringify($json.ig_url) }},\n  \"ig_id\": {{ JSON.stringify($json.ig_id) }},\n  \"yt_url\": {{ JSON.stringify($json.yt_url) }},\n  \"yt_id\": {{ JSON.stringify($json.yt_id) }},\n  \"linkedin_url\": {{ JSON.stringify($json.linkedin_url) }},\n  \"linkedin_id\": {{ JSON.stringify($json.linkedin_id) }},\n  \"x_url\": {{ JSON.stringify($json.x_url) }},\n  \"x_id\": {{ JSON.stringify($json.x_id) }},\n  \"facebook_url\": {{ JSON.stringify($json.facebook_url) }},\n  \"facebook_id\": {{ JSON.stringify($json.facebook_id) }},\n  \"threads_url\": {{ JSON.stringify($json.threads_url) }},\n  \"threads_id\": {{ JSON.stringify($json.threads_id) }},\n  \"pinterest_url\": {{ JSON.stringify($json.pinterest_url) }},\n  \"pinterest_id\": {{ JSON.stringify($json.pinterest_id) }}\n}","options":{}},"id":"save-publish-record","name":"Save Publish Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,2840]},{"parameters":{"method":"PATCH","url":"=http://backend:8000/api/content-ideas/{{ $('Parse Response').first().json.content_idea_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"published\",\n  \"published_at\": {{ JSON.stringify($('Parse Response').first().json.published_at) }}\n}","options":{}},"id":"update-final-status","name":"Update Status Published","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,2840]},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Pipeline complete\", \"content_idea_id\": $('Parse Response').first().json.content_idea_id, \"published_at\": $('Parse Response').first().json.published_at } }}","options":{}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1160,2840]},{"parameters":{"content":"## File Server\nServe audio/video files to external APIs","height":140,"width":180,"color":0},"id":"note-file-server","name":"File Server","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1500,40]},{"parameters":{"httpMethod":"GET","path":"serve-audio/:script_id","responseMode":"responseNode","options":{}},"id":"webhook-serve-audio","name":"Serve Audio","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1560,200],"webhookId":"serve-audio"},{"parameters":{"operation":"read","fileSelector":"=/home/node/assets/audio/{{ $json.params.script_id }}_voice.mp3","options":{}},"id":"read-audio-file","name":"Read Audio","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1780,200]},{"parameters":{"respondWith":"binary","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"audio/mpeg"}]}}},"id":"respond-audio","name":"Return Audio","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2000,200]},{"parameters":{"httpMethod":"GET","path":"serve-video/:script_id","responseMode":"responseNode","options":{}},"id":"webhook-serve-video","name":"Serve Video","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1560,380],"webhookId":"serve-video"},{"parameters":{"operation":"read","fileSelector":"=/home/node/assets/output/{{ $json.params.script_id }}_final.mp4","options":{}},"id":"read-video-file","name":"Read Video","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1780,380]},{"parameters":{"respondWith":"binary","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"video/mp4"}]}}},"id":"respond-video","name":"Return Video","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2000,380]}],"connections":{"Daily 6am Scrape":{"main":[[{"node":"Parse Scrape Params","type":"main","index":0}]]},"Scrape Webhook":{"main":[[{"node":"Parse Scrape Params","type":"main","index":0}]]},"Parse Scrape Params":{"main":[[{"node":"TikTok?","type":"main","index":0},{"node":"Instagram?","type":"main","index":0},{"node":"YouTube?","type":"main","index":0}]]},"TikTok?":{"main":[[{"node":"Apify TikTok","type":"main","index":0}],[{"node":"Skip TikTok","type":"main","index":0}]]},"Instagram?":{"main":[[{"node":"Apify Instagram Reels","type":"main","index":0}],[{"node":"Skip Instagram","type":"main","index":0}]]},"YouTube?":{"main":[[{"node":"Apify YouTube","type":"main","index":0}],[{"node":"Skip YouTube","type":"main","index":0}]]},"Apify TikTok":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Apify Instagram Reels":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Apify YouTube":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip TikTok":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip Instagram":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Skip YouTube":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Merge Results":{"main":[[{"node":"Normalize Data","type":"main","index":0}]]},"Normalize Data":{"main":[[{"node":"Analyze with Grok","type":"main","index":0}]]},"Analyze with Grok":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Split Trends","type":"main","index":0}]]},"Split Trends":{"main":[[{"node":"Save Content Idea","type":"main","index":0}]]},"Save Content Idea":{"main":[[{"node":"Aggregate Saved","type":"main","index":0}]]},"Aggregate Saved":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Approved Idea","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Specific ID?","type":"main","index":0}]]},"Get Approved Idea":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Specific ID?":{"main":[[{"node":"Get Specific Idea","type":"main","index":0}],[{"node":"Merge","type":"main","index":1}]]},"Get Specific Idea":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Normalize Idea","type":"main","index":0}]]},"Normalize Idea":{"main":[[{"node":"Has Content?","type":"main","index":0}]]},"Has Content?":{"main":[[{"node":"Update Status","type":"main","index":0}],[{"node":"No Content","type":"main","index":0}]]},"Update Status":{"main":[[{"node":"Generate Script (Grok)","type":"main","index":0}]]},"Generate Script (Grok)":{"main":[[{"node":"Parse Script","type":"main","index":0}]]},"Parse Script":{"main":[[{"node":"Save Script","type":"main","index":0}]]},"Save Script":{"main":[[{"node":"Create Asset Record","type":"main","index":0}]]},"Create Asset Record":{"main":[[{"node":"Prepare B-Roll Searches","type":"main","index":0}]]},"Prepare B-Roll Searches":{"main":[[{"node":"Search Pexels","type":"main","index":0}]]},"Search Pexels":{"main":[[{"node":"Select Videos","type":"main","index":0}]]},"Select Videos":{"main":[[{"node":"Video Found?","type":"main","index":0}]]},"Video Found?":{"main":[[{"node":"Download B-Roll","type":"main","index":0}],[{"node":"Skip B-Roll","type":"main","index":0}]]},"Download B-Roll":{"main":[[{"node":"Save B-Roll","type":"main","index":0}]]},"Save B-Roll":{"main":[[{"node":"Merge B-Roll","type":"main","index":0}]]},"Skip B-Roll":{"main":[[{"node":"Merge B-Roll","type":"main","index":1}]]},"Merge B-Roll":{"main":[[{"node":"Prepare TTS Text","type":"main","index":0}]]},"Prepare TTS Text":{"main":[[{"node":"Generate Voice (ElevenLabs)","type":"main","index":0}]]},"Generate Voice (ElevenLabs)":{"main":[[{"node":"Save Voice","type":"main","index":0}]]},"Save Voice":{"main":[[{"node":"Get Duration","type":"main","index":0}]]},"Get Duration":{"main":[[{"node":"Prepare HeyGen Data","type":"main","index":0}]]},"Prepare HeyGen Data":{"main":[[{"node":"Create HeyGen Video","type":"main","index":0}]]},"Create HeyGen Video":{"main":[[{"node":"Extract Video ID","type":"main","index":0}]]},"Extract Video ID":{"main":[[{"node":"Wait 30s","type":"main","index":0}]]},"Wait 30s":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Completed?","type":"main","index":0}]]},"Completed?":{"main":[[{"node":"Download Avatar","type":"main","index":0}],[{"node":"Increment Retry","type":"main","index":0}]]},"Increment Retry":{"main":[[{"node":"Wait & Retry","type":"main","index":0}]]},"Wait & Retry":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Download Avatar":{"main":[[{"node":"Save Avatar","type":"main","index":0}]]},"Save Avatar":{"main":[[{"node":"Build FFmpeg Command","type":"main","index":0}]]},"Build FFmpeg Command":{"main":[[{"node":"Run FFmpeg","type":"main","index":0}]]},"Run FFmpeg":{"main":[[{"node":"Success?","type":"main","index":0}]]},"Success?":{"main":[[{"node":"Prepare Whisper","type":"main","index":0}],[{"node":"Handle Error","type":"main","index":0}]]},"Prepare Whisper":{"main":[[{"node":"Read Audio for Whisper","type":"main","index":0}]]},"Read Audio for Whisper":{"main":[[{"node":"Whisper Transcribe","type":"main","index":0}]]},"Whisper Transcribe":{"main":[[{"node":"Parse Whisper Response","type":"main","index":0}]]},"Parse Whisper Response":{"main":[[{"node":"Save SRT","type":"main","index":0}]]},"Save SRT":{"main":[[{"node":"Build Caption Cmd","type":"main","index":0}]]},"Build Caption Cmd":{"main":[[{"node":"Burn Captions","type":"main","index":0}]]},"Burn Captions":{"main":[[{"node":"Caption Success?","type":"main","index":0}]]},"Caption Success?":{"main":[[{"node":"Prepare Publish Data","type":"main","index":0}],[{"node":"Handle Caption Error","type":"main","index":0}]]},"Prepare Publish Data":{"main":[[{"node":"Publish (Blotato)","type":"main","index":0}]]},"Publish (Blotato)":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Save Publish Record","type":"main","index":0}]]},"Save Publish Record":{"main":[[{"node":"Update Status Published","type":"main","index":0}]]},"Update Status Published":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Serve Audio":{"main":[[{"node":"Read Audio","type":"main","index":0}]]},"Read Audio":{"main":[[{"node":"Return Audio","type":"main","index":0}]]},"Serve Video":{"main":[[{"node":"Read Video","type":"main","index":0}]]},"Read Video":{"main":[[{"node":"Return Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"1","activeVersionId":null,"versionCounter":1,"triggerCount":6,"tags":[],"shared":[{"updatedAt":"2026-01-07T01:42:22.797Z","createdAt":"2026-01-07T01:42:22.797Z","role":"workflow:owner","workflowId":"zPOhVFFwnrTdfeHo","projectId":"qCuD3VHIL5taTzsY","project":{"updatedAt":"2026-01-07T00:54:10.930Z","createdAt":"2026-01-07T00:53:52.808Z","id":"qCuD3VHIL5taTzsY","name":"Cameron Anderson <cameronsaddress@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"16c5cdbd-493c-4058-92b0-51725a196dcb"}}]}]
